[2018-07-04 14:18] Sameesunkaria commented on #1877
@TheMMcOfficial Is it possible for you to share the url to your RC server?

[2018-07-04 15:02] y00rb commented on #1852
@Sameesunkaria  Yes, I running it in latest version. Thank you very much!

[2018-07-04 15:02] TheMMcOfficial commented on #1877
Maybe in private but not here. It's a server for the work I don't want everybody know about this private service.

[2018-07-04 17:35] rafaelks commented on #1868
@YanniStaMaria Not all the fields are always required... this is a validation that's done via server-side right now. I'm closing the issue for now because of that. Thank you! 👍

[2018-07-04 17:35] #1868 closed

[2018-07-04 18:19] #1858 closed

[2018-07-04 18:19] #1860 closed

[2018-07-04 18:19] #1869 closed

[2018-07-04 22:14] #1522 closed

[2018-07-05 08:33] kaiiiiiiiii opened #1882 "[BUG] Channel description becomes smaller with longer length"
The text of the channel description becomes smaller and smaller with longer length. I would expect the text to be displayed in its original size and the field to expand downwards accordingly, otherwise it's really hard to read it :) This may also happen with the topic, but I haven't tested it.

![img_5167](https://user-images.githubusercontent.com/4711233/42311645-a1e7a136-803e-11e8-9eff-97e8640fc

[2018-07-05 08:46] Sameesunkaria commented on #1877
@TheMMcOfficial How about you send me the url via DM on the open.rocket.chat server. I am @sameesunkaria on there.

[2018-07-05 08:47] kaiiiiiiiii opened #1883 "[BUG] Wrong sorting when "use real name" is activated"
A picture says more than a thousand words:

![img_5169](https://user-images.githubusercontent.com/4711233/42312251-28e4e71a-8040-11e8-8b39-c627a95d489b.jpg)

It's still sorted by usernames not by real names :) My view settings are "group by type", "sort alphabetically" and "unread on top".

- Your Rocket.Chat app version: 3.0 beta
- Your Rocket.Chat server version: develop
- Device (or Simulator)

[2018-07-05 09:10] kaiiiiiiiii commented on #1882
Also happens for the Topic (I used one phrase of lorem ipsum for the test).

![1400c684-5aef-47f7-a2c1-2934e8a7aebf](https://user-images.githubusercontent.com/4711233/42313882-12fab3ae-8044-11e8-9d54-68eb1cf565c2.jpeg)

[2018-07-05 12:56] #1856 closed

[2018-07-05 13:00] #1882 closed

[2018-07-05 14:55] #1883 closed

[2018-07-05 15:59] #1826 closed

[2018-07-05 21:54] #1844 closed

[2018-07-06 00:07] filipealva opened #1890 "[BUG] Letting the user logout from all servers on server list"
***Expected:***

The user can disconnect of all servers using the servers list view but the last

***What's happening:***

The user is able to disconnect from all the servers even the last causing an invalid scenario

***We should:***

Not let the user disconnect if the server is the last or handle the log out of the last server and redirect him to the welcome screen.

![](http://g.recordit.co/VkA

[2018-07-06 01:01] GeTadle opened #1891 "[BUG] Forgot Password > Error Changing Password"
Environment:
Rocket Chat App version 3.0.0 (188)
Device (or simulator) you're running with: iPad 5th gen ios 11.1.2

Pre-Condition:
Reset password email received

Steps:
1. Click the link on the email received
2. Type your new password
3. Tap reset button

Expected Result
Password reset should be successful

Actual Result
An error message "Error changing password" appeared

Please see attached vid

[2018-07-06 02:30] YanniStaMaria opened #1892 "[BUG] Channel > App crashes upon clicking share"
**Environment:**
Rocket.Chat app version: 3.0.0(188)
Device (or Simulator) you're running with: iPad Pro  (IOS 11.3.1)

**Pre-condition:**
Rocket.Chat is installed
User is registered to the app

**Steps:**

1. Launch Rocket.Chat App
2. Open a chat room
3. Tap the vertical ellipsis
4. Tap Share
- Verify sharing action

**Expected Result**
Sharing action should open

**Actual Result**
App crashes up

[2018-07-06 04:40] GeTadle opened #1893 "[IMPROVEMENT] Restrict Channel name to a certain number of characters"
Environment:
Rocket Chat App version 3.0.0 (188)
Device (or simulator) you're running with: iPad 5th gen ios 11.1.2

Pre-Condition:
User is logged in.

Steps:
1. Click the pencil like icon
2. On channel name field, type more than 20 characters
3. Click Create button on the upper right corner

Expected Result
Channel name should not be accepted

Actual Result
Channel creation was successful

Please

[2018-07-06 05:03] GeTadle opened #1894 "[BUG] Join the Community > Continue with Facebook > Landing page keeps on loading"
Environment:
Rocket Chat App version 3.0.0 (188)
Device (or simulator) you're running with: iPad 5th gen ios 11.1.2

Pre-Condition:
Rocket.Chat fresh installed

Steps:
1. Launch Rocket Chat app
2. Tap Join The Community
3. Tap Continue with Facebook

Expected Result
Facebook sign in page should open without any issue

Actual Result
Landing page keeps on loading

Please see attached photos
![b1osvd

[2018-07-06 05:23] YanniStaMaria opened #1895 "[IMPROVEMENT] Chat Page > Textfield should go down if the keyboard is hidden"
**Environment:**
Rocket.Chat app version: 3.0.0 (188)
Device (or Simulator) you're running with: iPad Pro (IOS 11.3.1)

**Precondition**
User is logged in.
There are existing users.

**Steps**
1. Select any conversation on the list
- Verify conversation page should display
2. Tap the textfield
3. Tap Add/Attach Files Button
- Verify adding files option
4. Tap Draw Something
- Verify Drawing page
5

[2018-07-06 05:26] GeTadle opened #1896 "[IMPROVEMENT] Join the Community > Create new account > Register button keeps loading when registering with null password"
Environment:
Rocket Chat App version 3.0.0 (188)
Device (or simulator) you're running with: iPad 5th gen ios 11.1.2

Pre-Condition:
Rocket.Chat fresh installed

Steps:
1. Launch Rocket Chat app
2. Tap Join The Community
3. Tap Create New Account
4. Input valid details on Name, Username and Email field
5. Leave Password field null/blank
6. Tap Register

Expected Result:
New account should not be cr

[2018-07-06 05:51] GeTadle opened #1897 "[BUG] Chat page > Three-Dot menu > Members > Members modal stays open after selecting Message"
Environment:
Rocket Chat App version 3.0.0 (188)
Device (or simulator) you're running with: iPad 5th gen ios 11.1.2

Pre-Condition:
User is logged in.
There should be an existing Channels or Groups
There should be an existing member in the group

Steps:
1. Select any Channel or Group
2. Tap three-dot menu button
3. Tap Members
4. Tap the name of a member
5. Tap message

Expected Result:
User shoul

[2018-07-06 06:50] breezeeluo commented on #1843
make changes to the code to work with HTTP (search for all HTTPS string in the app),make sure url = IP:3000/url else; or make sure the port of server is 80;

[2018-07-06 06:53] Sameesunkaria commented on #1843
@CH1PSET1 and replace `wss` with `ws`.

[2018-07-06 07:00] CH1PSET1 commented on #1843
And how can I make changes to the application?

[2018-07-06 07:01] Sameesunkaria commented on #1843
clone the repository and open up the project in Xcode. (don't forget to `pod install`)

[2018-07-06 12:03] markusstoll opened #1898 "Push notifications on iOS"
Before writing an issue, please make sure you're talking about the native application (called Rocket.Chat+ in the App Store) and not the Cordova one (called Rocket.Chat in the App Store). If you are looking to open an issue to the Cordova application, go to this URL: https://github.com/RocketChat/Rocket.Chat.Cordova.

- Your Rocket.Chat app version: 2.5.0 (179)
- Your Rocket.Chat server version: 0

[2018-07-06 12:41] Sameesunkaria commented on #1898
@markusstoll Just making sure, are you using the app from the App Store, or have you compiled a version of your own?

[2018-07-06 12:47] markusstoll commented on #1898
From App Store

thx, Markus

[2018-07-06 14:13] soundstorm commented on #1898
@markusstoll are the rooms you're testing having more than 100 members or does this also happen on direct messages? And try to enable "always send mobile notifications" as an active desktop session may prevent mobile notifications.

[2018-07-06 14:15] TheMMcOfficial commented on #1877
![Image](https://i.imgur.com/fV9VQHJ.jpg)
![Image](https://i.imgur.com/SrAdJ2j.jpg)

The first image is with the new app  and the second is with the old one (legacy). A long time ago I managed to connect with the old ios app (legacy) but since a few month I can't use rocket chat with the app.

[2018-07-06 14:16] soundstorm commented on #1865
What would happen if a user tries to upload more (big and therefor slow) attachments than the screensize can handle?

[2018-07-06 14:16] breezeeluo opened #1900 "The app isn't connecting to your server"
- Your Rocket.Chat app version: 187
- Your Rocket.Chat server version: 0.67.0-develop
- Device (or Simulator) you're running with: Simulator

**The app isn't connecting to your server
chat  server install Nginx 1.3 . and error:
[WebSocket] wss://192.168.9.69:8080/websocket
 - did disconnect with error (Optional(Error Domain=WebSocket Code=4 "write wait timed out" UserInfo={NSLocalizedDescription=w

[2018-07-06 14:20] Sameesunkaria commented on #1877
@rafaelks @TheMMcOfficial is having problems with connecting to the web sockets. They are using nginx as a reverse proxy, and get an error `400` when they try to upgrade web sockets to wss.

[code]

[2018-07-06 14:55] rafaelks commented on #1894
It is working fine for me...

![simulator screen shot - iphone se - 2018-07-06 at 11 53 28](https://user-images.githubusercontent.com/551004/42385531-685c1f84-8113-11e8-8bd5-67395df69b45.png)

![simulator screen shot - ipad pro 10 5-inch - 2018-07-06 at 11 55 01](https://user-images.githubusercontent.com/551004/42385536-6cb113be-8113-11e8-9518-7620618eb8c9.png)

[2018-07-06 16:19] markusstoll commented on #1898
Thank you, this solved my problem!
This setting was quite hidden, so I was not aware

Regards, Markus

[2018-07-06 16:19] #1898 closed

[2018-07-06 16:46] rafaelks commented on #1898
Wow, this one I didn't know too... thank you @soundstorm!

[2018-07-06 17:44] TheMMcOfficial commented on #1877
Yes WSS is enable !

[2018-07-06 17:48] #1895 closed

[2018-07-06 17:59] filipealva commented on #1896
I could not reproduce it no matter how I tried. The only issue I could notice is that when there's an invalid field sometimes it takes some seconds more to return the error, but I did not experience more than a few seconds of loading (depending on my internet connection).

As an improvement, I'll add client validation so the user can't even send a request with invalid data.

[2018-07-06 18:09] filipealva commented on #1894
I could not reproduce this one as well.

[2018-07-06 18:12] filipealva opened #1902 "[IMPROVEMENT] Improve message sent events and add some user properties"
During the first beta testing period with our new analytics layer I noticed that we need to improve the message sent statistics and add a user property to better understand the usage by server.

[2018-07-06 18:26] filipealva opened #1903 "[BUG] Database inconsistency when signing up"
I was testing the signup flow when I noticed that some rare times I was seeing subscriptions of the previous authenticated server on my new user subscriptions list. The references are invalid since the subscriptions don't actually exist for the server.

I could record on the gif below one of the times it has happened. Notice the subscriptions `rafael.kellermann`, `filipe.brito` and `filipe.alvaren

[2018-07-06 20:59] #1897 closed

[2018-07-06 20:59] #1896 closed

[2018-07-06 21:19] #1890 closed

[2018-07-06 21:40] #1902 closed

[2018-07-06 23:55] soundstorm commented on #1830
* [x] de 😜

[2018-07-07 00:00] kaiiiiiiiii commented on #1830
I’m more than happy to review the DE translations 🙃

[2018-07-07 10:01] breezeeluo commented on #1900
it is resolved;

[2018-07-07 10:01] #1900 closed

[2018-07-07 10:03] breezeeluo commented on #1900
#http/websocket

# Upstreams
upstream backend {
    server 127.0.0.1:3000;
}

# HTTP Server it is support ws;
server {
    listen 80;
    server_name 192.168.9.69;

    error_log /var/log/nginx/rocketchat.access.log;
    #ssl on;
    #ssl_certificate /etc/nginx/ssl/rocket-chat.crt;
    #ssl_certificate_key /etc/nginx/ssl/rocket-chat.key;
    #ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

    location / {

[2018-07-08 11:46] soundstorm opened #1909 "[BUG] App doesn't handle 401 correctly"
The last few days I played around with some other services in between (DNS and so on) and thought that my phone wasn't connecting because of that. Turned off WiFi to check if the problem is due to the DNS (only active on WiFi). Also downgraded to build 187.
Also quick reply didn't worked, so it couldn't be a web socket issue.
It simply switched between the server/channel name and "connecting" in t

[2018-07-08 19:14] CodeFunta opened #1910 "Login and iframe integration"
After configuring iframe integration can't see login screen (from integrated site) only screen with forgot password. Note: everything ok in browser and desktop app.

[2018-07-08 19:29] CodeFunta commented on #1910
note: only standard form with login & password was appeared

[2018-07-09 02:11] GeTadle opened #1911 "[BUG] App crashes when Send Crash Report is toggled on"
Environment:
Rocket Chat App version 3.0.0 (188)
Device (or simulator) you're running with: iPhone 6+ ios 11.3.1

Pre-Condition:
User is logged in.
Send Crash Report is toggled off

Steps:
1. Click the hamburger menu icon on the upper left corner of the page
2. Tap Send Crash Report Toggle Button

Expected Result:
User should be able to Turn Off send crash report without the app crashing

Actual R

[2018-07-09 03:01] GeTadle opened #1912 "[IMPROVEMENT] Change your password> Make the Password Updated modal visible in Dark and Black Theme"
Environment:
Rocket Chat App version 3.0.0 (188)
Device (or simulator) you're running with: iPhone 6+ version 11.3.1

Pre-Condition:
User is logged in.

Steps:
1. Click the hamburger menu icon on the upper left corner of the page
2. Tap Profile
3. Tap Change your password
4. Enter a new password in New Password field box
5. Enter the same new password in Password Confirmation field box
6. Click Sa

[2018-07-09 03:32] GeTadle opened #1913 "[IMPROVEMENT] Profile input fields> Make the x button (clear) visible in Dark and Black Theme"
Environment:
Rocket Chat App version 3.0.0 (188)
Device (or simulator) you're running with: iPhone 6+ version 11.3.1

Pre-Condition:
User is logged in.

Steps:
1. Click the hamburger menu icon on the upper left corner of the page
2. Tap Profile
3. Tap Edit
4. Verify x button (clear) should be seen

Expected Result
X button should be seen

Actual Result
X button is not that visible in Dark and Blac

[2018-07-09 06:20] GeTadle opened #1914 "[IMPROVEMENT] Important labels should be translated according to the selected language."
Environment:
Rocket Chat App version 3.0.0 (188)
Device (or simulator) you're running with: iPhone 6+ version 11.3.1

Pre-Condition:
User is logged in.

Steps:
1. Tap the hamburger menu icon on the upper left corner of the page
2. Tap Language
3. Select any language (e.g. Español)
4. Tap OK on Validation message

Expected Result
Important labels should be translated according to the selected langu

[2018-07-09 08:20] soundstorm commented on #1914
@GeTadle are they yet translated? If you switch your phone to spanish, are they still in english? If they are so, please help to translate them :)

[2018-07-09 09:30] soundstorm opened #1915 "[BUG] New message banner too big"
It's now (188) often, that the "new messages" banner is floating somewhere over the messages and the margin above the separator is huge too.

![GitHawk Upload by soundstorm](https://i.imgur.com/zb1KzVY.jpg)

[2018-07-09 14:30] filipealva commented on #1894
I'm closing this one since we are not able to reproduce the issue

[2018-07-09 14:30] #1894 closed

[2018-07-09 15:32] coruble commented on #1855
@rafaelks Looks like this problem is solved in the latest beta branch. I'll close the issue now. Good job ! :-)

[2018-07-09 15:32] #1855 closed

[2018-07-09 16:11] rafaelks commented on #1855
Amazing! 👊

[2018-07-09 16:17] rafaelks commented on #1914
@GeTadle @soundstorm Yes, translation is working fine, just needs to be updated. Also, when you change it, you need to restart the application. Please give it a try with another language. 👍

[2018-07-09 16:17] #1914 closed

[2018-07-09 16:24] coruble opened #1917 "[BUG] Upload from Library doesn't work"
Uploads from library don't work in latest beta branch. Uploading through share extension works tho.

- Rocket.Chat app version: 3.0.0 (latest beta branch as of July 9th 2018)
- Rocket.Chat server version: 0.66.0
- Device (or Simulator) you're running with: iPhone X / iOS 11.4

**Steps to reproduce :**

1. Open channel or DM session
2. Tap "+", "Choose from library"
3. Tap any file / photo
4. Tap "

[2018-07-09 17:05] coruble commented on #1917
Xcode debug console shows that requests are indeed sent. But no payload ?

[code]

[2018-07-09 18:10] rafaelks commented on #1830
@soundstorm @kaiiiiiiiii You guys are more than welcome to contribute, thank you!!! :-)

[2018-07-09 18:12] coruble commented on #1830
@rafaelks Currently working on French. Pull Request coming shortly.

[2018-07-09 18:12] rafaelks commented on #1830
@coruble Amazing, thank you very much!

[2018-07-09 19:22] #1893 closed

[2018-07-09 21:05] kaiiiiiiiii opened #1920 "[BUG] Attachment coloring does not work anymore"
**Before (2.5):**
![img_5182](https://user-images.githubusercontent.com/4711233/42475792-0ad7d7ca-83cc-11e8-8fce-06b7ee028b56.jpg)

**After:**
![img_5183](https://user-images.githubusercontent.com/4711233/42475808-1141c986-83cc-11e8-99a5-f5d24af52726.jpg)

It would be nice if the entire line were colored :) (maybe it's already possible and I'm missing something in my webhook configuration?)

- You

[2018-07-09 21:09] kmav opened #1921 "[QUESTION] Crash in old version v2.3.0 after merging my changes in a fork ..."
Does anyone know for any crash when trying to click and open Members list (inside chat) and what is the commit that resolved that? I am trying to create another app based on Rocket.chat and I have been lost in that crash for 2-3 weeks! I am using a branch based on v2.3.0 were I applied my changes.

When using the release v2.3.0 code it does not crash on opening members list. Also, when I checkout

[2018-07-09 21:10] kmav commented on #1921
[Rocket.chat-v2.3.0-fork-crash.txt](https://github.com/RocketChat/Rocket.Chat.iOS/files/2178020/Rocket.chat-v2.3.0-fork-crash.txt)

[2018-07-09 21:12] Sameesunkaria commented on #1921
@kmav are your changes public on github?

[2018-07-09 21:13] kaiiiiiiiii opened #1922 "[BUG] Highlighting does not stop when more than one person is tagged"
The highlighting of @all, @here and @username never stops when you try to notify more than one person. In addition, if you place text before the tag, alternately a user is not selected.

![img_5189](https://user-images.githubusercontent.com/4711233/42476203-71e344b2-83cd-11e8-84cd-6eb291acd51a.PNG)

- Your Rocket.Chat app version: latest beta
- Your Rocket.Chat server version: 0.66.1
- Device (or

[2018-07-09 21:14] kmav commented on #1921
No. I am sorry. They are not...

[2018-07-09 21:16] Sameesunkaria commented on #1921
Can you try adding an exception breakpoint, and posting the console output when the application pauses?

https://stackoverflow.com/questions/17802662/exception-breakpoint-in-xcode

[2018-07-09 21:21] kmav commented on #1921
When I have done that I was a little bit confused because it had created two breakpoints: one in Application and another in another point later. In the first I had to continue execution to get the crash to the 2nd point...

[2018-07-09 21:23] Sameesunkaria commented on #1921
@kmav what was the output right before the crash?

[2018-07-09 21:30] kmav commented on #1921
I am in the main chat screen and I select "general  v" from the top to get the next view ...

![screen shot 2018-07-10 at 00 29 38](https://user-images.githubusercontent.com/3893463/42477015-66e09b5e-83d8-11e8-923a-be3ddfe7f1c5.png)

[2018-07-09 21:34] kmav commented on #1921
2nd breakpoint...

![screen shot 2018-07-10 at 00 33 28](https://user-images.githubusercontent.com/3893463/42477202-ef39daba-83d8-11e8-86e5-12928f078210.png)

[2018-07-09 21:39] kmav commented on #1921
Breakpoint 2nd
![breakpoint-2](https://user-images.githubusercontent.com/3893463/42477416-a2de3a52-83d9-11e8-9f3b-2759df93d69e.png)

[2018-07-09 21:40] Sameesunkaria commented on #1921
can you post what's on the console for the second breakpoint? I'm especially interested in the setValue call.

[2018-07-09 21:45] kmav commented on #1921
Is this OK? can you advise more?

![breakpoint-2](https://user-images.githubusercontent.com/3893463/42477612-6e9353d0-83da-11e8-8669-90d3e7b59118.png)

[2018-07-09 21:47] Sameesunkaria commented on #1921
@kmav the console is visible if you click this button

<img width="938" alt="screen shot 2018-07-10 at 3 16 09 am" src="https://user-images.githubusercontent.com/7317008/42477695-b565bbb2-83ef-11e8-9050-06bc886fe919.png">

[2018-07-09 21:49] kmav commented on #1921
OK. What do you want exactly from the console? I run bt there to get stack trace...
Do you need all log?

[2018-07-09 21:51] filipealva opened #1923 "[CRASH] Crashing when trying to open an URL from UITextView"
[code]

[2018-07-09 21:52] kmav commented on #1921
[crash-console-last.txt](https://github.com/RocketChat/Rocket.Chat.iOS/files/2178120/crash-console-last.txt)

[2018-07-09 21:52] Sameesunkaria commented on #1921
All I'm really looking for are the arguments to the setValue method call. Yup, that is 2 and 3 on the left.

[2018-07-09 21:56] filipealva opened #1924 "[BUG] Navigation bar is transparent after opening UserDetailsViewController"
![](http://g.recordit.co/lYXgnotxPV.gif)

[2018-07-09 21:58] kmav commented on #1921
[setValue.txt](https://github.com/RocketChat/Rocket.Chat.iOS/files/2178140/setValue.txt)

[2018-07-09 21:58] filipealva opened #1925 "[CRASH] Crash when trying to share a room on an iPad"
[code]

[2018-07-09 22:02] Sameesunkaria commented on #1921
This is just the implementation of the setValue method. How about we start by verifying that there aren't any unneeded referencing outlets in the Interface builder?

[2018-07-09 22:06] kmav commented on #1921
Can you advise how?
I think that I had checked that if I understand correctly... There are no outlets with X in the front. Is this what you mean?

[2018-07-09 22:10] kmav commented on #1921
![member-list-vc](https://user-images.githubusercontent.com/3893463/42478611-fec21254-83dd-11e8-8e47-677c56783c55.png)

[2018-07-09 22:11] Sameesunkaria commented on #1921
There is only one outlet declared in the view controller file. (the property is called `tableView`). If you find any other element in the storyboard file (for members list vc) that is referencing a outlet (check by right clicking on each element in the view), then remove that reference.

[2018-07-09 22:13] kmav commented on #1921
![screen shot 2018-07-10 at 01 13 01](https://user-images.githubusercontent.com/3893463/42478729-74d45236-83de-11e8-8c97-a74ff083d929.png)

[2018-07-09 22:17] kmav commented on #1921
![members-list-vc-links](https://user-images.githubusercontent.com/3893463/42478857-ed8af388-83de-11e8-99da-7964c659221c.png)

[2018-07-09 22:18] kmav commented on #1921
I don't see anything wrong in the outlets... Do you?

[2018-07-09 22:22] #1923 closed

[2018-07-09 22:31] kmav commented on #1921
I am I correct that the table view data source is empty/nil ?

[2018-07-09 22:34] Sameesunkaria commented on #1921
@kmav Because the crash is happening on a `setValue:forKey` message, its almost certainly setting an outlet, which may not exist in code.

[2018-07-09 22:42] kmav commented on #1921
I am looking at the xml of chat.storyboard for memberList vc. I cannot see any other outlet apart the membersTableView:

[code]

[2018-07-09 22:44] Sameesunkaria commented on #1921
Is there anything set in the User defined runtime attributes?

[2018-07-09 22:46] kmav commented on #1921
What is that "User defined runtime attributes" ? User profile data from the server?
The application is working fine as v2.3.0 original...

[2018-07-09 22:48] Sameesunkaria commented on #1921
@kmav How about we override setValue forKey in an extension to UIView. And print the key after calling super?

[code]

[2018-07-09 22:53] kmav commented on #1921
Yes. Should I put that code at the end of MemberListVC ?

[2018-07-09 22:54] Sameesunkaria commented on #1921
Sure. anywhere is fine.

[2018-07-09 22:59] kmav commented on #1921
[code]

[2018-07-09 23:00] Sameesunkaria commented on #1921
And whats on the variables view?

this is what it should look like
<img width="342" alt="screen shot 2018-07-10 at 4 21 16 am" src="https://user-images.githubusercontent.com/7317008/42479923-b3d22be2-83f8-11e8-913e-bc1b91d97a8f.png">

[2018-07-09 23:03] kmav commented on #1921
value	Any?	some
key	String	"loaderViewContainer"
_core	_StringCore
self	UIView	0x00007fb22b8cca00

[2018-07-09 23:05] kmav commented on #1921
![setvalue2](https://user-images.githubusercontent.com/3893463/42480371-b5a64ad8-83e5-11e8-92f0-1ba3b0a8f7a1.png)

[2018-07-09 23:09] Sameesunkaria commented on #1921
@rafaelks any theories?

[2018-07-09 23:15] kmav commented on #1921
Thank you for your assistance and patience 🥇 😄

[2018-07-09 23:17] rafaelks commented on #1921
@Sameesunkaria @kmav Please, try adding the super call after opening the func:

[code]

[2018-07-09 23:21] cardoso opened #1927 "[REFACTOR] Decouple uploading from ChatViewController"
We need a upload task manager that will allow us to keep better track of our uploads throughout the app and better represent state in UI.

[2018-07-09 23:53] kmav commented on #1921
Unfortunately it crashed again after clean/rebuild..

[2018-07-10 01:00] rafaelks commented on #1921
@kmav Got it. Could you try pulling from develop please?

[2018-07-10 05:56] kmav commented on #1921
This branch I am working is based on your master's v2.3.0 with added only my changes...
I was initially working on develop. That develop is behind release v2.3.0.
Do you want me to pull latest changes in my new "v2.3.0 master" or in the old "develop" that I was working?

[2018-07-10 09:21] coruble commented on #1917
@rafaelks Any idea why this happens ? Looks like all the changes regarding upload are in a specific branch ? Both current beta and develop have the problem. Just reproduced it on other devices too.

[2018-07-10 09:46] coruble commented on #1917
Android client has trouble uploading too, throwing an error `Use JsonReader.setLenient(true) to accept malformed JSON at path $`. So it's probably server-related. Will investigate and close the issue if it's indeed on the server side.

[2018-07-10 10:21] coruble commented on #1917
Solved by increasing `client_max_body_size` on nginx config, as provided on https://github.com/RocketChat/Rocket.Chat.Android/issues/1050. Closing now. Sorry for the false flag.

[2018-07-10 10:21] #1917 closed

[2018-07-10 10:33] Sameesunkaria commented on #1920
@kaiiiiiiiii is it possible for you to send a message with colored attachments to #iosnativeapp ?

[2018-07-10 11:32] cardoso commented on #1838
Hi @bstillman I've identified and fixed the problem.

The problem is your authorize path being the full URL and we're not accounting for that yet.

But I think you can make it work with the current version without having to wait for us to update, just use paths in your OAuth configuration instead of the full URLs like this:

https://imgur.com/a/QV0cIU7

This should also fix it for Android.

[2018-07-10 14:14] Sameesunkaria opened #1931 "[BUG] Chat preview mode view button colored incorrectly"
The button should be grey instead of blue.

![untitled](https://user-images.githubusercontent.com/7317008/42515512-8db4bd5e-8479-11e8-9c33-46b6a9acfadf.png)

[2018-07-10 14:39] #1838 closed

[2018-07-10 14:42] rafaelks commented on #1917
Nice! 👍

[2018-07-10 14:52] Sameesunkaria commented on #1921
@kmav Just a sanity check, can you make sure that the custom class under the identity inspector is set as `LoaderTableViewCell`?  (in `LoaderTableViewCell.xib`)

[2018-07-10 15:24] kaiiiiiiiii commented on #1920
@Sameesunkaria I don't think that's possible as colored attachments only work when they were created by a webhook (as far as I know).

But as I can see you already fixed the issue anyways :)

[2018-07-10 20:54] kmav commented on #1921
Wooaaaaa !!!! 😄 🚀 🎆
@Sameesunkaria you are absolutely wonderful !!!

The name of custom class was correct but... the module was customized, so it kept the original Module value. Inherit Module from Target was unchecked !!!

![loadertableview](https://user-images.githubusercontent.com/3893463/42537020-629553f4-849c-11e8-968a-4ba7b3bc7827.png)

I am grateful to both of you @Sameesunkaria and @rafael

[2018-07-10 20:56] Sameesunkaria commented on #1921
@kmav awesome!

[2018-07-10 20:56] #1921 closed

[2018-07-10 20:57] kmav commented on #1921
Maybe it could be a good idea to apply this in main Rocket.chat.

[2018-07-10 22:12] soundstorm commented on #1915
Weirdo: the banner just jumped up (has hidden the message above) and back down while typing. So there is something missligned...

[2018-07-11 00:22] cardoso opened #1936 "[BUG] Markdown in bullet items not being parsed"
![](https://open.rocket.chat/file-upload/5n79omc9Lidh6f4ez/Ab5rExpT.jpeg)

[2018-07-11 01:07] #1920 closed

[2018-07-11 01:08] #1912 closed

[2018-07-11 01:08] #1913 closed

[2018-07-11 01:08] #1931 closed

[2018-07-11 01:08] #1865 closed

[2018-07-11 07:37] Sameesunkaria opened #1939 "[CRASH] App crashes when receiving a lot of messages"
The crash can be attributed to in-app notifications.

# Stack-trace
<img width="560" alt="screen shot 2018-07-11 at 1 02 03 pm" src="https://user-images.githubusercontent.com/7317008/42557020-f9051b12-850a-11e8-851b-23a84bbf1b41.png">

[2018-07-11 11:43] #1939 closed

[2018-07-11 13:05] kmav commented on #1921
@Sameesunkaria The value is correct.

[2018-07-11 13:08] kmav commented on #1921
Yes of course it is correct.
But if you check "Inherit Module from Target" it will work automatically... In that way you do not need to add "fixed" value. It will inherit it. So, the overall configuration of target could be more flexible.

[2018-07-12 13:24] #1903 closed

[2018-07-12 14:09] #1924 closed

[2018-07-12 14:29] rafaelks opened #1948 "[BUG] The status inside the room (title view) does not update"

[2018-07-12 15:05] #833 closed

[2018-07-12 19:05] #1925 closed

[2018-07-12 20:21] kaiiiiiiiii opened #1951 "[BUG] Various problems with latest message in channel overview"
Here are a few things I noticed in the latest beta version of the app related to the channel overview.

### 1. Nothing is displayed if the latest message was an emoji

![img_5204](https://user-images.githubusercontent.com/4711233/42656534-d8a00ec0-861f-11e8-9d74-21221c1352e5.PNG)

![img_5206](https://user-images.githubusercontent.com/4711233/42656541-de91b8b0-861f-11e8-9ef1-7c5a3b73576d.PNG)

Some

[2018-07-12 20:30] Sameesunkaria commented on #1951
@kaiiiiiiiii This is the first time I've seen someone use the word "penultimate" in context. Cheers 🍻

Couldn't resist commenting.. 😛

[2018-07-12 20:30] kaiiiiiiiii opened #1952 "[BUG] Wrong order of channels in overview"
It's just the default channel #general which is sticked to the top of my channel list. Everything else is sorted in the right way.

<img width="375" alt="img_5212" src="https://user-images.githubusercontent.com/4711233/42657586-ef1d734c-8622-11e8-865b-3e7306686700.PNG">

- Your Rocket.Chat app version: 3.0 beta latest
- Your Rocket.Chat server version: 0.66.3
- Device (or Simulator) you're running

[2018-07-12 20:39] kaiiiiiiiii opened #1953 "[BUG] Channels are displayed even though they are hidden"
As @rafaelks confirmed in the #ios-beta channel on open.rc, this shouldn't be the expected behavior.

**Web Client:**
![screen shot 2018-07-12 at 22 22 22](https://user-images.githubusercontent.com/4711233/42657990-461a5826-8624-11e8-8d6f-7cfbb76fd5c3.png)

**iOS App:**
<img width="375" alt="img_5209" src="https://user-images.githubusercontent.com/4711233/42658002-4f325206-8624-11e8-9cbd-d5e4d00ab

[2018-07-13 00:27] filipealva opened #1954 "[BUG] Deeplink auth not working properly"

[2018-07-13 02:19] #1951 closed

[2018-07-13 02:19] #1952 closed

[2018-07-13 02:20] rafaelks commented on #1953
This one was fixed in #1937, thank you @kaiiiiiiiii!

[2018-07-13 02:20] #1953 closed

[2018-07-13 02:21] rafaelks commented on #1915
@soundstorm Are you still able to reproduce this one in 193? Thank you!

[2018-07-13 03:23] rafaelks opened #1959 "[BUG] Subscription cell on the iPad needs to be selected with the selected chat"

[2018-07-13 04:04] #1911 closed

[2018-07-13 04:04] #1948 closed

[2018-07-13 04:04] #1817 closed

[2018-07-13 12:53] #1830 closed

[2018-07-13 12:57] #1094 closed

[2018-07-13 12:57] #1648 closed

[2018-07-13 12:57] #1959 closed

[2018-07-13 13:15] rafaelks commented on #1915
Closing it for now, thank you @soundstorm! 👊

[2018-07-13 13:15] #1915 closed

[2018-07-13 13:40] kaiiiiiiiii commented on #1952
@rafaelks Default channel (#general) is still on top in the latest testflight release =(

[2018-07-13 13:40] rafaelks commented on #1952
@kaiiiiiiiii Are you using sorting by name?

[2018-07-13 13:43] kaiiiiiiiii commented on #1952
@rafaelks Yes, I do.

![img_5223](https://user-images.githubusercontent.com/4711233/42694623-59b8fa56-86b3-11e8-9fc0-b6e7ef05ee0c.PNG)

Channel sorting still looks like on the first screenshot.

[2018-07-13 14:31] rafaelks commented on #1952
@kaiiiiiiiii I see what's going on... you're probably using full names and `general` have `fname` propert as an empty string. 👍

[2018-07-13 14:37] kaiiiiiiiii commented on #1952
Yipp you're right @rafaelks, the general channel does not have a fname at all ^^' I've added it to the DB document and everything seems to be alright now :)

[2018-07-13 17:22] rafaelks commented on #1952
@kaiiiiiiiii OK, I'm going to resolve that in another PR ;)

[2018-07-13 18:43] #924 closed

[2018-07-13 20:40] #1954 closed

[2018-07-13 20:42] #1718 closed

[2018-07-13 22:29] soundstorm opened #1979 "[BUG] Notifications open chat at wrong position"
When opening a notification the app opens the channel about 200+ lines above the new message separator.
It'd be okay if the scroll position is zero/newest message, but would be ideal if it's at the newest unread message.

[2018-07-13 22:55] bstillman commented on #1838
Sure enough, that worked. Thanks.

[2018-07-14 10:41] Sameesunkaria opened #1982 "[BUG] Only a single subscription cell is selected even if multiple for the same room appear on screen"
Here, I tapped the blue cell but the red cell is the only one which is shown as selected.

This only applies to the iPad and iPhone Plus

![img_0484](https://user-images.githubusercontent.com/7317008/42723692-63aef40c-8780-11e8-8eda-3460702735bc.jpg)

[2018-07-14 13:07] rafaelks opened #1983 "[BUG] Not invalidating session on getting error 403 from the server"
When the app receives this kind of error, we need to invalid the server session. The error is already being mapped on this method:

[code]

[code]

[2018-07-14 14:46] soundstorm commented on #1983
So related to #1909

[2018-07-14 16:48] rafaelks commented on #1838
@bstillman Great! 🎉

[2018-07-14 18:11] Sameesunkaria commented on #1818
@rafaelks @soundstorm I believe this issue presented itself because of the transparent nav bar. Now that we have fixed that, this shouldn't happen anymore.

[2018-07-14 18:14] Sameesunkaria commented on #1041
@rafaelks It would be nice if we could include one with the 3.0.0 release.

[2018-07-14 18:16] rafaelks commented on #1041
@Sameesunkaria Yes! We are working on that! 👍🏼

[2018-07-14 20:02] soundstorm commented on #1818
@Sameesunkaria As your comment is gone, I think you noticed it yourself :)
Now only the bottom half of the (X) is visible.

When searching we have a view with the searchbar pinned to the top replacing the server etc. info. When returning from an in-app notification we have the normal layout and this produces this ui bug.

[2018-07-14 21:21] soundstorm commented on #1818
![screenrecording_07-14-2018 21-58-24](https://user-images.githubusercontent.com/193273/42728524-62a50222-87bc-11e8-8288-8b66bb95d320.gif)

[2018-07-16 14:20] filipealva opened #1989 "[CRASH] Fatal Exception: NSInternalInconsistencyException Only run on the main thread!"
[code]

[2018-07-16 16:44] filipealva opened #1991 "[BUG] Presenting welcome view controller when canceling add server flow"
We are facing a bug when canceling the action of adding a new server. To reproduce:

1. Have a server authenticated.
2. Tap on the server name to show the servers list
3. Tap on "Add new server"
4. Connect to the new server url
5. Tap on "back" to return to the server connection screen
6. Close the server connection screen
7. It will present the Welcome screen instead of getting back to the authen

[2018-07-16 17:25] filipealva opened #1993 "[BUG] Using another server cached settings"
On the server switch flow we are using another server's cached settings until we fetch the current server settings again. It makes we setup a server based on the wrong settings then having to setup it again considering the correct settings

[2018-07-16 18:51] #1989 closed

[2018-07-16 18:57] #1991 closed

[2018-07-16 18:57] #1993 closed

[2018-07-16 21:45] #1909 closed

[2018-07-16 21:45] #1983 closed

[2018-07-17 06:19] soundstorm commented on #1982
Why do we even show the room twice?

[2018-07-17 20:15] rafaelks opened #2000 "[CRASH] RegisterUsernameTableViewController.swift line 51 specialized RegisterUsernameTableViewController.(setupAuth() -> ()).(closure #2)"
[code]

[2018-07-17 20:15] filipealva opened #2001 "[CRASH] Fatal Exception: NSInternalInconsistencyException -[UIKeyboardTaskQueue waitUntilAllTasksAreFinished] may only be called from the main thread."
[code]

[2018-07-17 20:20] #2001 closed

[2018-07-17 20:20] sdriton opened #2003 "[INVESTIGATE][BUG] Owner user is not able to send messages on a public readonly channel (iOS version only)"
**Environment:**
Rocket.Chat app version: 3.0.0 (197)
Rocket.Chat server version: 0.66.3
Device (or Simulator) you're running with: iPhone 7 (IOS 11.4)

**Pre-condition:**
Created public readonly channel.
User has been unmuted on a Broadcast channel through the web app.
User is already login on the mobile app.
User has been set as a channel owner.

**Steps:**

Go to the created public readonly cha

[2018-07-17 20:36] #2000 closed

[2018-07-17 22:41] rafaelks opened #2006 "[NEW] Support hidden avatars for Channels (to think about)"

[2018-07-17 22:44] rafaelks opened #2007 "[NEW] Support dragging the whole list of messages instead of just the "left-corner""
Related to: https://forums.rocket.chat/t/improving-the-onboarding-of-new-servers-into-the-ecosystem-of-mobile-clients/1388/5

[2018-07-17 22:44] rafaelks opened #2008 "[BUG] Composer "autocomplete" is being hidden on multiple lines"
Related to: https://forums.rocket.chat/t/ios-3-0-released/1608/2

[2018-07-17 23:09] rafaelks opened #2009 "[NEW] Improve DynamicType support all over the app"

[2018-07-18 04:43] reinerj opened #2011 "[INVESTIGATE][QUESTION] URL is not valid"
Jut got the upgrade for version 3 of the client. Installed it and did try to connect to a server where the URL is something like

https://rocket.xxx.xx:3000/

Response from the client. URL invalid

[2018-07-18 05:52] Sameesunkaria commented on #2007
I don't know how I feel about this. On Twitter for iOS, I find this irritating. Nothing's worse than losing your place in chat when you're 100s of messages into the chat history, because you accidentally swiped right. 🤷🏻‍♂️

[2018-07-18 05:53] Sameesunkaria commented on #2009
We should start working on it, as soon as we drop support for iOS 10.

[2018-07-18 05:54] Sameesunkaria commented on #2011
@reinerj Are you able to share the URL for the server publicly?

[2018-07-18 06:26] Sameesunkaria opened #2012 "[NEW] Improve VoiceOver support throughout the app"

[2018-07-18 06:50] reinerj commented on #2011
no, i cant

[2018-07-18 08:33] reinerj commented on #2011
This could be possible but I on meetings now

Von meinem iPhone gesendet

[2018-07-18 10:36] JEREYMNO opened #2014 "Administration from iOS app - menu not working"
Hi,

open administration from app after some updates stoped working. Menu button dont alow me to open menu panel for admin. From sfari directly on same device working without problem. Try to delete and download app again but problem presist.

- Your Rocket.Chat app version: 3.0.0 (197)
- Your Rocket.Chat server version: 0.66.2
- Device (or Simulator) you're running with: iPhone X

![img_3e87339e65

[2018-07-18 11:57] serge-petrov opened #2015 "[IMPROVEMENT] Clean chat room using mobile app"
Hello. Please add an ability to clean chat room using mobile app. Now there is the only one way available: delete messages one-by-one.

[2018-07-18 13:06] artrmz commented on #1922
Does this still happen? I could not reproduce.

[2018-07-18 13:16] kaiiiiiiiii commented on #1922
![7122beb3-cd6c-445a-9e92-6bba0cac4bb5](https://user-images.githubusercontent.com/4711233/42884033-82b0d7d8-8a9d-11e8-94d5-c7140b5f3ae6.jpeg)

Yes, it still happens 😕

[2018-07-18 13:22] artrmz commented on #1922
@kaiiiiiiiii Could you possibly DM me on open.rocket.chat and reproduce it there? (artrmz @ open.rocket.chat)

[2018-07-18 13:33] BlinkTwice commented on #1891
I experienced the same issue and assumed it was a bug but found that the user was not 'activated' as I accidentally enabled the manual user approval functionality (which obviously makes a user inactive by default when signing up). All good after after activating the user from the back-end.

[2018-07-18 13:49] artrmz commented on #1922
Seems like the issue is caused by activating "Use real names" on the server. Sadly I have no server to test that on 👎

[2018-07-18 13:59] filipealva commented on #1922
I'm working on it, soon I'll push a fix

[2018-07-18 14:02] kaiiiiiiiii commented on #1922
Thanks guys! :)

[2018-07-18 14:07] Sameesunkaria opened #2016 "[REFACTOR] SubscriptionCell and SubscriptionCellCondensed"
`SubscriptionCell` and `SubscriptionCellCondensed` share a lot of code. This may lead bugs in the future, if anyone forgets to update both the files.

[2018-07-18 14:50] rafaelks opened #2019 "[IMPROVEMENT] Reduce white spaces from the URL field on connecting"
Today, if the URL has any spaces, we'll say that the URL is invalid.

[2018-07-18 14:51] rafaelks opened #2020 "[IMPROVEMENT] Proper keyboards to the login & signup fields"
The signup screen needs to have proper keyboards to: name, email, username and password.

[2018-07-18 14:55] rafaelks commented on #2014
@JEREYMNO Thanks for pointing that to us, just created the issue on the back-end repository: https://github.com/RocketChat/Rocket.Chat/issues/11494.

Will close this one for now, since the issue is on the web client.

[2018-07-18 14:55] #2014 closed

[2018-07-18 15:04] Sameesunkaria opened #2022 "[BUG] UserDetails popover arrow not themed."
![untitled](https://user-images.githubusercontent.com/7317008/42890211-e2681ad4-8ac9-11e8-82e5-9836cde1a8d6.png)

[2018-07-18 15:09] rstockm commented on #2007
Well, you'd have to drag a loooong way to "accidentally" swipe.

Plus: one could think about an implementation were your last reading position is saved and restored by returning to a room/channel.

As of now, you're always send to the buttom - it would feel more "stable" to come back to the last position, and if you want to go to the bottom you still have the additional button to do so...

[2018-07-18 15:28] cardoso opened #2023 "[NEW] Show unread messages count for a server in servers list"

[2018-07-18 15:29] #2023 closed

[2018-07-18 15:30] cardoso commented on #643
Our desktop app supports this.

Reference:
![](https://i.imgur.com/ARTXa7g.png)

[2018-07-18 15:35] Sameesunkaria commented on #2022
🤔

[2018-07-18 15:38] cardoso commented on #2022
@Sameesunkaria I mean, so we don't have to write extra code for every new popover.

[2018-07-18 19:16] Sameesunkaria commented on #2022
@cardoso I have something in mind. Hope that it works out.

[2018-07-18 21:16] rafaelks commented on #1982
@soundstorm Great question, in this case, we should really not display it! :-)

[2018-07-19 00:09] soundstorm commented on #1979
Seems like an edge case or resolved again 🤔

[2018-07-19 00:14] soundstorm opened #2024 "[IMPROVEMENT] Header text of administration is themed"
When using a dark theme the "Administration" headline (webview) is in white on light background. Should be either dark bar or black text.

[2018-07-19 03:00] rafaelks opened #2025 "[CHORE] Drop support for iOS 10"

[2018-07-19 03:01] rafaelks opened #2026 "[CHORE] Drop support for < 0.62 servers"

[2018-07-19 03:01] rafaelks commented on #2024
@soundstorm Thanks for pointing that! 👍

[2018-07-19 03:03] rafaelks commented on #2015
@serge-petrov Thanks for the feature request! We don't plan to add this feature soon to the mobile apps, so I'm going to close it for now. If in the future we decide that this feature is important to most of the mobile users, we can reopen it. Thank you very much!

[2018-07-19 03:03] #2015 closed

[2018-07-19 03:04] rafaelks commented on #2011
@reinerj Please, provide us the URL in order for us to check.

Make sure you've:

- SSL cert valid;
- HTTPS is supported;
- You don't have any spaces in the URL (this is going to be improved in future releases);

Thank you!

[2018-07-19 03:05] rafaelks commented on #1979
@soundstorm I believe I fixed this one before we release to the store. Let's close it for now and then we can reopen if you notice it again, thank you!

[2018-07-19 03:05] #1979 closed

[2018-07-19 03:06] rafaelks commented on #1910
@CodeFunta I'm sorry for the delay on the response here... can you pass the settings of your server that you're using or the server URL please? Thank you!

[2018-07-19 03:09] #1818 closed

[2018-07-19 03:12] rafaelks commented on #1892
This one was fixed already in version 3.0.0. 👍

[2018-07-19 03:12] #1892 closed

[2018-07-19 03:13] rafaelks commented on #1843
Closing this one for now.

[2018-07-19 03:13] #1843 closed

[2018-07-19 03:14] rafaelks commented on #1823
I don't think we can do that either... will close the issue and if anyone discovers how to do it, please comment here so we can reopen the issue! 👍

[2018-07-19 03:14] #1823 closed

[2018-07-19 03:15] rafaelks commented on #1676
@filipealva Can you confirm that this one can be closed please?

[2018-07-19 03:16] rafaelks commented on #1665
This one was fixed for 3.0.0, closing for now.

[2018-07-19 03:16] #1665 closed

[2018-07-19 03:18] rafaelks commented on #1335
This class was deprecated in order to a new one.

[2018-07-19 03:18] #1335 closed

[2018-07-19 03:23] rafaelks opened #2027 "[CHORE] Migrate to Xcode 10 & Swift 4.2"

[2018-07-19 03:25] rafaelks opened #2028 "[INVESTIGATE][BUG] Sometimes the user keeps looping to connect into the server (Realm becomes inconsistent)"
This one is very hard to reproduce, but here's a GIF showing how it looks:

![2018-07-19 00 24 51](https://user-images.githubusercontent.com/551004/42919832-31f38db6-8aea-11e8-8b93-cc3affb04abf.gif)

[2018-07-19 03:28] #1519 closed, assigned to nobody

[2018-07-19 03:28] #1520 closed, assigned to nobody

[2018-07-19 03:45] #2016 closed

[2018-07-19 03:47] rafaelks opened #2030 "[IMPROVEMENT] On iPad, do not hide navigationBar on searching for channels"

[2018-07-19 03:48] rafaelks opened #2031 "[BUG] Sometimes on iPad between changing from multitasking to single-screen app the UISplitScreen looses the navigation controller"

[2018-07-19 05:29] artrmz commented on #2028
Ah, good to know you are aware of that, happened to me as well when I accidentally popped Siri and immediately canceled it while Rocket.Chat was open but cannot reproduce it now 😢

[2018-07-19 06:00] reinerj commented on #2011
@rafaelks

The SSL certificate is valid until 2020 and as I wrote before, Rocket work with the desktop client, the browser and was working without any problems until we upgraded to the latest iOS release

On the server only https is supported

And no, there are no spaces in the URL ...

I could send you the URL in a privat message but cannot write it here in the ticket

Regards

[2018-07-19 07:38] Sameesunkaria commented on #2027
On hold until September?

[2018-07-19 08:07] Sameesunkaria commented on #2011
@reinerj i'm @sameesunkaria on the open.rocket.chat server. You can DM me there

[2018-07-19 10:36] MangoSmoothie101010 commented on #1312
Hey,

Just saw that this issue is awarded a 50$ bounty on bountysource upon completion.

Is somebody already working on this?

[2018-07-19 10:42] Sameesunkaria commented on #2011
Resolved in private conversation.

[2018-07-19 10:42] #2011 closed

[2018-07-19 12:01] Sameesunkaria opened #2035 "[IMPROVEMENT] Increase contrast for in-app notifications"
Currently the in-app notifications don’t have enough of a contrast with the background.

[2018-07-19 12:42] #1679 closed

[2018-07-19 12:46] #2024 closed

[2018-07-19 13:02] rafaelks opened #2036 "[CRASH] SubscriptionsViewController.swift line 89 SubscriptionsViewController.viewDidLoad() -> () empty-"
# Information

**Introduced in:** 3.0.0 (197)
**OS:** iOS 11, iOS 12
**Device:** iPhone
**Occurrences so far (from 90 days ago):** 26

# Stacktrace

[code]

[2018-07-19 13:05] Sameesunkaria commented on #2036
Ummmmmm 😐

[2018-07-19 13:13] rafaelks opened #2037 "[CRASH] RLMObject_Private.hpp line 45 ___ZN12_GLOBAL__N_115makeBoxedGetterIN5realm10"
# Information

**Introduced in:** 1.1.4 (69)
**OS:** iOS 11, iOS 12
**Device:** iPhone, iPad, iPod
**Occurrences so far (from 90 days ago):** Many!

# Stacktrace

[code]

[2018-07-19 13:13] boblmartens opened #2038 "[BUG-SERVER] Avatars are strange after v3 update"
- Your Rocket.Chat app version: 3.0.1
- Your Rocket.Chat server version: 0.66.2
- Device (or Simulator) you're running with: iPhone 7 w/iOS 11.4.1

With the update to v3, avatars for rooms and persons (who have not set an avatar) are strange/wonky. I have included an image to show what I mean.

![img_5339](https://user-images.githubusercontent.com/12119/42944513-6f11cc30-8b2b-11e8-958c-9476f93db81

[2018-07-19 13:13] boblmartens commented on #2038
Obviously Aaron set his own avatar, which is why it shows up correctly.

[2018-07-19 13:17] rafaelks commented on #2038
@boblmartens HAHAHAHAHAH! Great idea from Aaron! :-)

The problem is related to the installation of your server... you're missing some font used to generate the avatars. Are you guys using snap installation?

[2018-07-19 13:17] boblmartens commented on #2038
I am using the snap.

[2018-07-19 13:18] rafaelks commented on #2038
@geekgonecrazy Looks like the font problem is back again... do you have any idea what's causing this?

[2018-07-19 13:30] Sameesunkaria commented on #2027
@rafalks Cool!

[2018-07-19 13:47] Sameesunkaria opened #2039 "[BUG] Chat cells do not size correctly on collapsing foldable messages"
![screenrecording_07-19-2018 18-43-37](https://user-images.githubusercontent.com/7317008/42946392-5c72a97a-8b88-11e8-89eb-b08f134dd8b1.gif)

[2018-07-19 14:10] rafaelks commented on #1312
@MangoSmoothie101010 AFAIK nobody is working on that right now.

[2018-07-19 16:31] TimZhou1987 opened #2041 "[BUG] Search needs to be improved to support full name searches"
- Your Rocket.Chat app version: 3.0.1
- Your Rocket.Chat server version: 0.66.3
- Device (or Simulator) you're running with: IOS 11.3

I can't search member using first name or last name,  only short name (samaccount name) can works.  But this function works well in web browser or client app.

[2018-07-19 21:04] #2035 closed

[2018-07-19 21:39] MangoSmoothie101010 commented on #1312
I realized after writing my comment, that this is for the iOS-App. Any chance I can complete this issue, not having any Apple device?

[2018-07-19 21:41] Sameesunkaria commented on #1312
@MangoSmoothie101010 You would at least need a Mac.

[2018-07-19 22:01] #1922 closed

[2018-07-19 22:08] #1982 closed

[2018-07-19 23:28] geekgonecrazy commented on #2038
@boblmartens can you open a browser and try to load something like: http://{your server}/avatar/{username}?format=jpg

Just tried in local install and didn't have an issue, so hope we can get to bottom of it.

[2018-07-20 01:42] boblmartens commented on #2038
https://chat.mlc-wels.edu/avatar/kramerlm?format=jpg

Looks like that might be where the issue is. What should I be looking for on the server?

[2018-07-20 05:40] hubermat commented on #1656
This bug is *not* closed in 3.0.1 (199). Please reopen this bug!

![img_7649](https://user-images.githubusercontent.com/1336497/42985072-1dc39686-8bf0-11e8-98ad-8ab5d2f61c6e.PNG)

[2018-07-20 05:46] hubermat opened #2045 "[BUG] Sometimes single messages are scrollable => #1656"
Rocket.Chat app 3.0.1 (199)
Rocket.Chat server 0.66.3
iPhone 5S, iOS 11.4

Single multiline messages, that have just one word on the last line, are scrollable! The last line is not displayed and will only become visible through scrolling, which is very annoying and often leads to confusion, as the sense of the message is lost or sometimes inverted.

For this bug already an issue exists under #1656

[2018-07-20 06:19] geekgonecrazy commented on #2038
@boblmartens try a `sudo snap refresh rocketchat-server` and see if that fixes it for you.  I released a fix thanks :)

[2018-07-20 08:04] soundstorm opened #2046 "[BUG/HANG] Quick Reply on different servers confuse App"
I recently had this twice, but I think I can now see why.

- Close RC while on Server X
- Reply to a message on Server Y via notification
- Open RC again

Now the app tries to open the conversation you replied to (probably trying it on Server X) instead of simply opening the state in that you left the app.
RC shows up a blank chat with only the room name loaded. As soon as you swipe right to open

[2018-07-20 08:05] soundstorm commented on #2046
Picture shows the ui slightly shifted (trying to open the subscription list) where it hangs.

[2018-07-20 09:17] rafaelks commented on #1656
Reopened!

[2018-07-20 09:17] rafaelks commented on #2045
Duplicates #1656, thanks @hubermat

[2018-07-20 09:17] #2045 closed

[2018-07-20 12:43] boblmartens commented on #2038
Thanks!

[2018-07-20 13:01] boblmartens commented on #2038
Refreshed the snap and some of the avatars are working, and others are not. Could the image be cached in the iOS app somehow?

[2018-07-20 14:24] rafaelks commented on #2038
@boblmartens The iOS app has some caching on the images, yes. If you want them to be gone forever, you'll need to reinstall the app now. This is going to be fixed in couple of releases with a change in the back-end.

[2018-07-20 14:24] #2038 closed

[2018-07-20 15:33] bleomycin opened #2050 "DM/Channel search gone after app redesign?"
- Your Rocket.Chat app version: 3.0.1
- Your Rocket.Chat server version: 0.66.3
- Device (or Simulator) you're running with: Iphone X

It seems that i'm no longer able to search the contents of DM's or Channels after the ios app update to 3.0? Perhaps I just can't figure out how to anymore? If not are there plans to bring this feature back? Thanks for the amazing software, it's very much appreciat

[2018-07-20 18:41] rafaelks commented on #2050
@bleomycin Yes, it'll be added again in the next releases, was a fail in our side. Thank you!

[2018-07-20 19:59] Sameesunkaria opened #2054 "[IMPROVEMENT][UX] Come up with a better way to communicate unread messages on a channel"
Currently, we use an exclamation point, to show that we have unread messages on a channel. An exclamation point has connotations of warning associated with it, which definitely makes it a less than an ideal choice, for the unread messages symbol.

We should consider using another symbol, or a different visual cue to convey our intent for this case.

**BLOCKED**: Waiting for design team to work on

[2018-07-20 21:57] #2041 closed

[2018-07-20 21:59] #2022 closed

[2018-07-20 21:59] #2036 closed

[2018-07-20 22:01] #2028 closed

[2018-07-21 12:02] filipedelimabrito commented on #724
@rafaelks Are the iOS app planning to ship this feature even twitter not fully supporting the OAuth 2?

_Twitter offers applications the ability to issue authenticated requests on behalf of the application itself (as opposed to on behalf of a specific user). Twitter’s implementation is based on the Client Credentials Grant flow of the OAuth 2 specification. Note that OAuth 1.0a is still required t

[2018-07-21 12:34] cardoso commented on #724
@filipedelimabrito I've tried many times and I'm not sure if it's possible. Or maybe it needs custom code for this OAuth 1 + 2 mix :/

[2018-07-21 14:07] filipedelimabrito commented on #724
Thanks for replying @cardoso!

I only want to say what other guys said [here](https://twittercommunity.com/t/getting-started-with-oauth-2-0/2338/10) and [here](https://twittercommunity.com/t/getting-started-with-oauth-2-0/2338/13). (:sad_parrot:)  😢

[2018-07-21 16:38] benedmunds commented on #1263
Bump, I'd also love to see this supported

[2018-07-22 13:35] soundstorm opened #2060 "[BUG] messed up servers (creating channel)"
I tried to create a channel on server x after I switched from server y (while on Edge connection) where a channel with this name already exists.

So:
Server Y has channel XY.
Switch to Server X, try to create channel XY.
Now the app yields, that the channel already exists.
![GitHawk Upload by soundstorm](https://i.imgur.com/tKRAm3B.jpg)

[2018-07-22 13:38] soundstorm commented on #2060
Okay, seems like web frontend messed this up...

[2018-07-22 13:41] soundstorm commented on #2060
Okay, searched for the channel and it had no members.
So maybe the app created the channel - don't know what really happend @rafaelks

[2018-07-23 14:57] #2003 closed

[2018-07-23 17:49] cardoso commented on #1874
Hi @soundstorm . I was able to address all these issues, except the duplicate channel names.

I could not reproduce it. Let me know if you have specific steps to reproduce it.

[2018-07-23 17:59] cardoso commented on #1430
Closing this for now

[2018-07-23 17:59] #1430 closed

[2018-07-23 18:08] cardoso commented on #2060
So the problem here is that the App somehow created a channel without your consent @soundstorm ?

[2018-07-23 18:10] soundstorm commented on #1874
@cardoso may have been before #1809 :)

[2018-07-23 18:11] cardoso commented on #1874
@soundstorm maybe it was about favorites appearing in both the "favorites" section and their type section? In which case I fixed that now.

[2018-07-23 18:19] soundstorm commented on #2060
Not necessarily, maybe the name duplication is just a bad example where it happend.
Could have been a combination of different circumstances like channel created but not joined, retried to create but then failing.

Don't remember exactly if I pressed the create button twice (because the channel creation screen didn't hide or simply double tapped).

[2018-07-24 11:27] Cikcak opened #2066 "[QUESTION] Cannot upload images from Library."
Cannot upload images from Library.

- Your Rocket.Chat app version: 3.0.2
- Your Rocket.Chat server version: 0.66.0
- Device (or Simulator) you're running with: iPhone 6

[2018-07-24 12:49] rafaelks commented on #2066
@Cikcak Can you describe the error you're having?

[2018-07-24 13:36] Cikcak commented on #2066
App shows dialogs for choosing picture, but after clicking to Upload button, nothing happens.

[2018-07-24 13:41] rafaelks commented on #2066
@Cikcak Can we have access to your server?

[2018-07-24 13:55] rafaelks commented on #2060
@soundstorm Just to make sure I understood the problem here... you're saying that when you changed the server, the app was still creating the channel in the other server? 🤔

[2018-07-24 13:57] Cikcak commented on #2066
eee.... yes. Can I contact you somehow direct?

[2018-07-24 13:58] rafaelks commented on #2066
@Cikcak Yes, contact me at `open.rocket.chat` server, my username is `rafael.kellermann`.

[2018-07-24 16:05] rafaelks opened #2069 "[DOCS] Update Docs images"
![artboard ipad](https://user-images.githubusercontent.com/7317008/43209700-eb3ded88-904a-11e8-8ec4-9ac10a39f344.png)

![download_on_the_app_store_badge_us-uk_rgb_blk_092917](https://user-images.githubusercontent.com/7317008/43209852-4ca39622-904b-11e8-8ce1-cdc3aee76ae9.png)

[2018-07-24 18:55] cardoso commented on #1604
Cannot reproduce.
Probably closed by https://github.com/RocketChat/Rocket.Chat.iOS/pull/1790

[2018-07-24 18:55] #1604 closed

[2018-07-24 22:04] cardoso commented on #2046
@soundstorm is this still happening? I fixed a related issue while investigating this:

https://github.com/RocketChat/Rocket.Chat.iOS/pull/2071

But I could not get the App to hang.

[2018-07-24 23:10] filipealva opened #2072 "[IMPROVEMENT] Support https://go.rocket.chat/ deeplinks"
Today we only support `rocketchat://` deeplinks on the iOS app.

[2018-07-25 02:07] Renzmu opened #2074 "[IMPROVEMENT] Login Page/Registration> Add view password option to verify the typed password"
Environment:
Rocket.Chat app version: 3.0.0 (193)
Device (or Simulator) you're running with: iPhone 7 (IOS 11.4) and iPad Pro (IOS 11.3.1)

Pre-condition:
Rocket.Chat is installed

Steps:

1.Launch Rocket.Chat
2.Tap connect to a server
3.Verify the Login Page

**Expected Result**
Add view password option to verify the typed password
Note: also add on registration page

Please see attached photo:
!

[2018-07-25 05:33] Renzmu opened #2075 "[BUG] Status is not applied immediately after selecting a status"
Environment:
Rocket.Chat app version: 3.0.0 (193)
Device (or Simulator) you're running with: iPhone 7 (IOS 11.4) and iPad Pro (IOS 11.3.1)

Pre-condition:
Rocket.Chat is installed

Steps:

1.Click the hamburger menu icon on the upper left corner of the page
    Verify the sidebar
2.Tap > button on the username
   Verify profile page
3.Tap < the Status
   Verify the page
4. Select a Status(Online,B

[2018-07-25 06:45] Renzmu opened #2076 "[BUG] Forgot Password does not send a reset message"
Environment:
Rocket.Chat app version: 3.0.0 (193)
Device (or Simulator) you're running with: iPhone 7 (IOS 11.4) and iPad Pro (IOS 11.3.1)

Pre-condition:
Rocket.Chat is installed

Steps:

1.Click Join the Community
2.Sign in to server
3.Click "Forgot your password?"
4.Type in Valid email

Expected Result:
Forgot password message should be sent to the email typed in

Actual Result:
Forgot password

[2018-07-25 12:41] #2037 closed

[2018-07-25 12:41] #1810 closed

[2018-07-25 12:43] #2072 closed

[2018-07-25 13:35] rafaelks commented on #2066
The issue was on the configuration of `client_max_body_size` of Nginx.

[2018-07-25 13:35] #2066 closed

[2018-07-25 13:43] cardoso commented on #2076
I could not reproduce this. Are you sure you have an account in open.rocket.chat?

[2018-07-25 13:43] #2076 closed

[2018-07-25 15:15] dzlatin opened #2077 "[BUG] iOS Application v3.0.2 doesn't allow to setup a connection to the server."
Rocket.Chat app version: 3.0.2
Rocket.Chat server version: 0.59.3
Device: iPhone X, iOS: 11.4.1

Just after upgrading the iOS app to the version 3.0.2 the app was working.
Then (in approx. 1 day) the application was crashed.

All trials to set up the connection again was failed.
After entering the server address, it takes ca. 30-40 sec to open the next dialog, where the e-mail should be enetered,

[2018-07-25 16:17] #2069 closed

[2018-07-25 21:45] cardoso commented on #2046
Closing this for now.

[2018-07-25 21:45] #2046 closed

[2018-07-25 23:10] Renzmu commented on #2076
Hello,tried it at 3 accounts from cloudstaffqa.rocket.chat only 1 received the link after 4 hours.Let me try it again today maybe its a server/internet issue.

[2018-07-26 05:21] Renzmu opened #2082 "[BUG] Message actions not taking into account room roles"
Environment:
Rocket.Chat app Version 3.0.2 (193)
Device (or Simulator) you're running with: iPad Pro version 11.3.1, Iphone 7 ver 11.4.1

Pre-condition:
User is logged in on cloustaffqa.rocket.chat
There should be an existing Message to the user.

Steps:

1.Select any Message from other user
2.Long Press the message
3.Verify the options

Expected Result:
Pin message should be available
Actual Resu

[2018-07-26 06:16] Renzmu opened #2083 "[BUG] message are not deleted immediately"
Environment:
Rocket.Chat app Version 3.0.2 (193)
Device (or Simulator) you're running with: iPhone 7 ios version 11.3.1

Pre-condition:
User is logged in on cloustaffqa.rocket.chat
There should be an existing Message to the user.

Steps:

1.Select any Message from other user
2.Long Press the message
3.Delete the message
3.Verify message thread

Expected Result:
Message should be deleted immediatel

[2018-07-26 12:42] rafaelks commented on #2082
@Renzmu Does your user have permission to pin a message?

[2018-07-26 12:48] #2077 closed

[2018-07-26 12:48] dzlatin commented on #2077
Problem was fixed after updating the server version

[2018-07-26 16:43] cardoso opened #2084 "[IMPROVEMENT] Improve Share Extension usability"
Addition to #2056

I found just three points where we could improve for now:

If the user starts searching for something then clears the search bar the list should show the unfiltered subscriptions, but today the list is empty.

It would be nice to cancel the searching if the user taps on the tableview. Today there's no way to cancel the search without closing the entire Search Extension.

It woul

[2018-07-26 23:30] Renzmu commented on #2082
Yes i do, Please see attached image taken from the site and ipad:
Ipad:

![](https://storage.googleapis.com/openscreenshot/Q/E/v/ByroDCvEQ.png)

Site:

![](https://storage.googleapis.com/openscreenshot/X/N/v/S1p08RvNX.png)

Video:
https://www.dropbox.com/s/bl0hrln8vjtbzov/no%20pin%20privelage.mp4?dl=0

[2018-07-27 02:56] Renzmu opened #2085 "[BUG] Message prompt has unnecessary symbols when changing the username with a existing one"
Environment:
Rocket.Chat app Version 3.0.2 (193)
Device (or Simulator) you're running with: iPad Pro ios version 11.3.1

Pre-condition:
User is logged in on cloustaffqa.rocket.chat

Steps:

1.Click the preference menu icon on the upper left corner of the page
 -Verify the sidebar
2.Tap Profile
 -Verify Profile page
3.Tap Edit
4. Enter a username on username field that is already registered on Rock

[2018-07-27 12:55] #2031 closed

[2018-07-27 12:56] #2030 closed

[2018-07-27 12:59] #1874 closed

[2018-07-27 18:55] #2084 closed

[2018-07-28 14:21] rafaelks opened #2091 "[BUG] Share Extension is showing hidden channels, groups and DMs"

[2018-07-30 10:22] soundstorm opened #2093 "[BUG] Take photo freezes app"
I recently had bugs uploading photos taken within the app. As soon as I shot the photo and was prompted the "use photo"/"retake" options the touch of at least "use photo" freezed the app.

[2018-07-30 11:07] rafaelks commented on #2093
@soundstorm Are you running what version of the iOS?

[2018-07-30 12:34] soundstorm commented on #2093
Im running 11.4.1 on iP8+

[2018-07-30 13:57] #2091 closed

[2018-07-30 13:59] #288 closed

[2018-07-30 14:05] Sameesunkaria opened #2096 "[IMPROVEMENT] allow changing global notification preferences"
Right now, we are only able to change the notification preferences per room. We need to add an option to change the default notification preferences as well.

[2018-07-30 20:28] ulope commented on #2054
What was wrong with using regular / bold as is used in the web version?

[2018-07-30 21:37] Sameesunkaria commented on #2054
@ulope With the text colors we have chosen on the app, just using a bold version of the text does not clearly distinguish between read and unread rooms. Several users have given this feedback.

[2018-07-30 23:16] rafaelks commented on #2093
@soundstorm Thanks, will try to reproduce it! 👍

[2018-07-31 00:08] ulope commented on #2054
The channel names are black as far as I can see. That tells me the problem wasn’t colors but insufficient weight difference between regular and bold in the font of choice.

[2018-07-31 13:32] rafaelks commented on #2054
@ulope It was really hard to differentiate (specially when the server didn't have the last message text) just by changing the weight of the font. That's why we added the badge with `!` when the number is not available (it's a server setting).

[2018-07-31 16:08] branic opened #2099 "Integrations that use slash commands don't work"
Integrations that make use of slash commands don't work in the iOS app. For example we have /giphy and /topgif integrations enabled, but they cannot be used from the iOS app.

- Your Rocket.Chat app version: 3.0.3 (203)
- Your Rocket.Chat server version: 0.67.0
- Device (or Simulator) you're running with: iPhone 7

[2018-07-31 16:55] Sameesunkaria opened #2100 "[UX] Search bar is not prominent in black theme for EmojiPicker"
![img_d992634080d8-1](https://user-images.githubusercontent.com/7317008/43474474-a362b802-9510-11e8-9665-315d670b316f.jpeg)

[2018-07-31 17:30] rafaelks commented on #2099
@branic Thanks for the heads up... this issue duplicates https://github.com/RocketChat/Rocket.Chat.iOS/issues/1611.

[2018-07-31 17:30] #2099 closed

[2018-07-31 18:48] cpitman commented on #2099
@rafaelks I'm not sure that is correct. This is a defect in how the app works with current functionality in the server, not an RFE for new functionality around Apps, which are not out yet.

[2018-07-31 18:49] rafaelks commented on #2099
@cpitman `/giphy` is an App command, right?

[2018-07-31 18:51] cardoso commented on #2099
@rafaelks I remember `/giphy` used to work on iOS, but would select the first option implicitly when sending the command message.

Not sure where the regression is, but probably in the Giphy integration.

[2018-07-31 18:53] rafaelks commented on #2099
`/giphy` command right now depends on previewing the images and selecting them, it's not just like a simple command (like the `/invite` for example). This is an App specific command that requires things aren't implemented in iOS and Android yet.

[2018-07-31 19:18] cpitman commented on #2099
There may be a new app that provides a `/giphy` command, but long before that we have used outgoing integrations triggered on `/giphy` to provide similar functionality. Users are used to using `/` as the prefix for all commands on slack, so all of our integrations also use `/` as part of their trigger. This is supported on the server side, as well as the Android app.

[2018-08-01 08:35] dbluxo opened #2102 "Messages can no longer be marked as unread"
- Your Rocket.Chat app version: 3.0.3
- Your Rocket.Chat server version: 0.66.3
- Device (or Simulator) you're running with: Iphone 6 (11.3.1)

Messages can no longer be marked as unread.

[2018-08-02 12:37] rafaelks commented on #2102
It was never possible on the iOS app, but this is being implemented here: https://github.com/RocketChat/Rocket.Chat.iOS/pull/1960.

Thanks for the issue @dbluxo!

[2018-08-02 12:37] #2102 closed

[2018-08-02 15:00] rafaelks opened #2104 "[NEW] Support "loginToken" parameter for the deeplink URLs"

[2018-08-02 21:32] willow9886 commented on #1625
Hi @cardoso do you know how I can unblock messages from a user that has previously been blocked?

[2018-08-03 09:59] rafaelks commented on #2099
@cpitman Does it work on Android for you? If yes, it should work on iOS as well.

[2018-08-03 14:01] #2100 closed

[2018-08-03 16:19] cardoso opened #2110 "[QUESTIOn] Search Messages should be push?"
It looks weird on iPad as it takes up the whole screen and isn't confined to the room context.

Probably looks weird in landscape iPhone Plus too

[2018-08-03 16:33] cpitman commented on #2099
Yes, it works on Android, and does not work on iOS. Screenshots/videos attached.

Android works:
![Android Working](https://user-images.githubusercontent.com/852230/43654206-7637adc4-9718-11e8-9dab-155c1fb4c382.jpg)

iOS doesn't:
![iOS Not Working](https://user-images.githubusercontent.com/852230/43654477-510b7d72-9719-11e8-800d-64c05911f137.gif)

[2018-08-06 13:59] navigosgroupjsc commented on #435
Hello I have this issue today, any idea on how to solve it? Mobile app works properly but app doesn't.

[2018-08-06 21:58] soobax commented on #435
Same issue on Mac OS. And the 'unread messages' line doesnt go away even after I've opened them.

[2018-08-07 15:45] cardoso opened #2113 "[CHORE] Add analytics for notification events"
Add events for when user replies through a notification and for when the user enters the app through a notification.

[2018-08-07 17:31] TannerJuby01 opened #2114 "[QUESTION] In-App Notification Bug Question"
- Your Rocket.Chat app version: 3.1.0 (204)
- Your Rocket.Chat server version: 0.63.0
- Device (or Simulator) you're running with: iPhone 8

**The app isn't connecting to your server?**
Make sure your server supports WebSocket. These are the minimum requirements for Apache 2.4 and Nginx 1.3 or greater.

I am working on a project that integrates Rocket.Chat into one of the tabs of a TabViewControll

[2018-08-07 22:49] ggazzo opened #2115 "[BUG] IOS 11.4.1 Receiving notifications even if it's not logged"
@cunhazord commented on [Tue Aug 07 2018](https://github.com/RocketChat/Rocket.Chat/issues/11701)

### Description:
I'm getting notifications even if I'm not logged in any server

### Steps to reproduce:

1.  Open RocketChat app
2.  Log out from any server
3.  Close RocketChat
4.  Test it

### Expected behavior:
Not get notifications

### Actual behavior:
Receiving notifications from a chat I'm no

[2018-08-08 08:50] artrmz opened #2116 "[NEW] Integrate with Siri Shortcuts (iOS 12)"
iOS 12, Xcode 10 brings new feature - Siri Shortcuts.

Create custom shortcuts that can be added by the user to for example:

- open certain channel
- open certain direct message
- send a predefined message to certain channel/dm

[2018-08-08 09:13] Sameesunkaria commented on #2116
I'm still not on the Shortcuts beta 😭

[2018-08-08 12:07] rafaelks commented on #2115
@cunhazord What's the server version you tried?

[2018-08-08 14:09] soundstorm opened #2120 "[BUG] Double notification on mention + subscription"
Maybe caused by server update to 0.68.3 but I receive notifications about the same message twice if I subscribed the channel and am mentioned within a message.

[2018-08-08 14:35] Sameesunkaria commented on #2120
In-app, push or both?

[2018-08-08 18:00] soundstorm commented on #2120
At least push, In-App: hard to tell as they come at same time. For push you can see two separate banners.

[2018-08-08 18:10] rafaelks commented on #2093
Closed by #2118

[2018-08-09 08:32] soundstorm opened #2121 "[BUG] Quick reply adds new chat view"
I'm using quick reply much, so I experience this bug:

Quick replys open a **new** chat view in the background (app closed) instead of replacing any chat view (removing old ones). This leads to multiple chats opened as a stack. So quick reply #a #a #b causes three chat views. If you open the app and hit the "<" to get back from #b to the channel overview, you'll open #a (twice if you hit "<" again

[2018-08-09 09:22] slajerek opened #2122 "[BUG] It is not possible to change server"
- Rocket.Chat app version: 3.0.4 (206)
- Rocket.Chat server version: 0.65.1
- Device: iPhone 6, iOS 10.3.3

How to switch servers? Previously that was in a sidebar menu on the left. After update I see new layout and in top bar underneath "Messages" text I see a cut name of the current server (with "..." in the middle of name) and down-arrow that looks like a pull-down menu. Unfortunately nothing h

[2018-08-09 09:27] slajerek opened #2123 "[BUG] Messages are cut and not displayed fully"
- Rocket.Chat app version: 3.0.4 (206)
- Rocket.Chat server version: 0.65.1
- Device: iPhone 6, iOS 10.3.3

Often there's a situation that multi-line message is not displayed fully and last line is cut.

However, it is possible to scroll the text down within message boundaries and it is then seen that last line of text is was missing, but that makes first line of the multi-line message to disappea

[2018-08-09 23:01] filipealva commented on #2123
@slajerek Thanks for reporting! We working on a big update on chat components in order to fix this and other similar issues. I'll make sure to let you know when it gets fixed.

[2018-08-09 23:12] filipealva commented on #2122
Hi @slajerek, thanks for reporting!

I was able to reproduce this issue, it's happening on iOS 10 only, I'm sorry that you could not fully experience our new layout due to this issue. We'll prioritize this fix since it critically impacts the app usage for iOS 10 users.

Thanks for your general feedback on our new layout as well. If there are any specific feature or interaction you had on the previ

[2018-08-10 15:49] TannerJuby01 opened #2125 "[QUESTION] Support for Arabic"
Before writing an issue, please make sure you're talking about the native application (called Rocket.Chat+ in the App Store) and not the Cordova one (called Rocket.Chat in the App Store). If you are looking to open an issue to the Cordova application, go to this URL: https://github.com/RocketChat/Rocket.Chat.Cordova.

- Your Rocket.Chat app version: 3.1.0 (204)
- Your Rocket.Chat server version: 0

[2018-08-10 19:47] filipealva commented on #2121
@soundstorm good catch! Thanks for reporting

[2018-08-13 08:28] reaact commented on #435
I have this issue as well. Rocket.Chat+ Version 2.12.0

[2018-08-13 12:00] kaiiiiiiiii commented on #435
Please stop spamming this closed issue! Your problem is related to the Electron App, not to the iOS App ...

The issue Mac Electron issue was already reported and will be fixed in the next release.

[2018-08-14 13:29] cunhazord commented on #2115
@rafaelks 0.66.3

[2018-08-16 09:44] gagaha opened #2129 "[QUESTION] Problem with images from S3"
- Rocket.Chat app version:  3.0.4 (206)
- Rocket.Chat server version: 0.68.4
- Device: iPhone 7 Plus (iOS 11.4.1)

The problem occurs when using S3 (in my case Ceph RGW) as file upload storage.

"Proxy Uploads" is disabled in the settings on the RC server.
Upload a video and it will be playable from the app.
Upload a Image and it will not be displayed or viewable.

Enable "Proxy Uploads" and it is

[2018-08-16 15:08] #2121 closed

[2018-08-16 15:08] #2122 closed

[2018-08-16 17:57] Sameesunkaria opened #2131 "[BUG] Crash in SubscriptionsVC while performing batch updates"
## Stack-trace

[code]

[2018-08-17 08:31] alelordelo opened #2132 "CloudKit as backend"
Is it possible to have CloudKit as backend for rocket? If yes, any tutorial how to integrate it?

[2018-08-17 16:26] filipealva opened #2133 "[BUG] Showing messages from a user that was removed from the server"
The messages are being shown on private groups even after the user was removed from the room and all the other messages were deleted.

[2018-08-18 08:45] Sameesunkaria commented on #2114
@TannerJuby01 The in-app notifications rely on the realtime api to receive notifications (`stream-notify-user/notification`, this is the same stream used for desktop notifications). It does mean that if `webSocketDidReceiveMessage` is not called, then the app did not receive the notification.

One possible cause for this might be that the app lost connection to the server and did not renegotiate

[2018-08-18 09:28] Sameesunkaria commented on #2120
This seems to be an issue with the server. Opened an issue on the Rocker.Chat repo. RocketChat/Rocket.Chat#11825

[2018-08-18 09:28] #2120 closed

[2018-08-18 17:42] soundstorm opened #2134 "[NEW] Add download progress bar"
If you tap a large attachment, it's loading, but users will tap multiple times, as there is no progress bar and therefore no visible reason why it shouldn't open immediately.
So a progress bar for the download of the file would be great.

[2018-08-20 03:42] filipealva opened #2135 "[CRASH] Fatal Exception: RLMException Object has been deleted or invalidated."
[code]

[2018-08-22 13:07] serge-petrov commented on #2129
I have the same issue.
Server version is 0.68.3
Also some text messages are delayed when using iOS application.
Please note that web application works fine.

[2018-08-23 19:17] TheMMcOfficial commented on #1877
We have update the server now the legacy app works (my message are not all white) but the "new" app still have the error.

[2018-08-23 19:53] TheMMcOfficial commented on #1877
the websocket was missing something we add this config:
location ~ "^/sockjs/[\d]{3}/[\w]{8}/(xhr_send|websocket)"
location ~ "^/websocket"

the last one wasn't their

[2018-08-23 19:53] #1877 closed

[2018-08-27 10:06] soundstorm opened #2137 "[BUG] :orange_heart: reaction does not work"
I just added a reaction using the :orange_heart: emoji, then the :yellow_heart:, but instead of just adding the yellow one it replaced the orange one.

[2018-08-27 10:08] soundstorm commented on #2137
Seems like it's a bug with the :orange_heart: - is there serverside an orange one? Gets deleted even without adding a new heart

[2018-08-27 10:11] soundstorm commented on #2137
Okay:
There is no :orange_heart: serverside, but we have it in our assets and selection list.
We may either add it to the server or delete it from the app (prefere first one).

[2018-08-27 11:51] cardoso commented on #2137
I'll close this and refer this issue: https://github.com/RocketChat/Rocket.Chat/issues/6740

I've been told it's not simple to update the emojione package :/

[2018-08-27 11:51] #2137 closed

[2018-08-27 12:43] cardoso opened #2138 "[IMPROVEMENT] Update message locally after editing"
Right now it's taking a while for it to update.

- Add an instant success feedback (maybe keep message gray) and roll it back in case the editing failed.

[2018-08-27 13:08] Sameesunkaria opened #2140 "[IMPROVEMENT] Use Sourcery to generate structs for realm managed objects"
We should look into using [Sourcery](https://github.com/krzysztofzablocki/Sourcery) for generating swift structs for all (if not all, then most) of the realm managed objects. This will allow us to abstract away realm from all the code related to the UI, and help us reduce some of the obscure crashes.

## Rationale
- Abstract away Realm
- Using value types has some performance advantages
- Works be

[2018-08-27 13:36] cardoso opened #2141 "[IMPROVEMENT] Add some spacing between latest message and composer"
Some users feel like there are more messages below, especially when there's an attachment:

![](https://i.imgur.com/sCHihAy.png)

[2018-08-27 15:30] Sameesunkaria commented on #2141
“Some” includes me as well.

[2018-08-29 01:30] #2082 closed

[2018-08-29 01:32] #2138 closed

[2018-08-29 12:30] #2123 closed

[2018-08-29 12:31] #2135 closed

[2018-08-30 00:08] #1518 closed

[2018-08-30 00:08] #2131 closed

[2018-08-30 11:13] Sameesunkaria opened #2146 "[IMPROVEMENT] Use a darker background for code blocks on dark themes"
Use a darker background for the text enclosed in a code block for dark themes. Currently the background color is light grey.

![img_586623e99398-1](https://user-images.githubusercontent.com/7317008/44848240-a12b8300-ac73-11e8-9389-0bf3aba60f60.jpeg)

[2018-08-31 09:10] #972 closed

[2018-08-31 12:48] rafaelks commented on #2129
@gagaha @serge-petrov Can you guys post an example of link to an image, or give us access to the server?

[2018-08-31 12:49] rafaelks commented on #2125
@kaiiiiiiiii Thanks for taking care of this one!

@TannerJuby01 If you can, please help us translating the files, we can add it to the next release! :-)

[2018-08-31 12:49] #2125 closed

[2018-08-31 12:50] rafaelks commented on #2116
Lovely! Would love to have that.

[2018-08-31 12:53] rafaelks commented on #2115
@cunhazord This was probably some request failure on removing the token from your user on the logout process, I just tried here and is not reproducible. In order to fix that specific for your case, please uninstall the app and install again or remove the specific token from the database of your server.

I'll close the issue for now and we can reopen in the future if the issue appears again. 👍

[2018-08-31 12:53] #2115 closed

[2018-08-31 12:53] rafaelks commented on #2114
Thanks for the answer @Sameesunkaria, closing the issue for now!

[2018-08-31 12:53] #2114 closed

[2018-08-31 13:35] #2113 closed

[2018-08-31 13:52] Sameesunkaria commented on #708
Guys, please refer to this guide for setting up your own root certificate and distributing it on the devices of the users.

https://rocket.chat/docs/developer-guides/mobile-apps/supporting-ssl/

[2018-08-31 13:52] #708 closed

[2018-09-01 14:16] soundstorm opened #2157 "[IMPROVEMENT] Ask before hiding room"
While there is a warning banner on the regular website when trying to hide a room, on mobile it just vanishes.

[2018-09-01 14:19] soundstorm opened #2158 "[BUG] Room stays hidden"
If you hide a room, search for it and open it, the room should be shown again.
A refresh of the list is just performed after reopening (switching back from another app or killing and reopening) Rocket.Chat.

[2018-09-01 14:25] Sameesunkaria commented on #2146
Ideally I would want it to not have any grey background and work just like on iOS 11

[2018-09-01 14:25] soundstorm commented on #2158
Okay, seems like an edge case. Sometimes it refreshes fast enough, sometimes not 🤨

[2018-09-01 14:28] Sameesunkaria commented on #2158
Hiding a favorited room works as well. Seems like it must be an edge case.

[2018-09-03 01:24] YanniStaMaria opened #2159 "[BUG] Create an Account > Wrong error message was seen if account is already registered"
Environment:
Rocket Chat App version 3.1.0 (209)
Device (or simulator) you're running with: iPad Pro IOS 11.4.1

Pre-Condition:
Rocket.Chat fresh installed
There is an existing account

Steps:

1. Launch Rocket Chat app
2. Tap Connect to a server
3. Sign in to your server
4. Tap Create New Account
- Verify New Account page
5. Input the details of the existing account
7. Tap Register
- Verify valid

[2018-09-03 01:47] YanniStaMaria opened #2160 "[BUG] Connect to a Server > Create an Account > Register button keeps on loading"
Environment:
Rocket Chat App version 3.1.0 (209)
Device (or simulator) you're running with: iPad Pro IOS 11.4.1

Pre-Condition:
Rocket.Chat fresh installed

Steps:

1. Launch Rocket Chat app
2. Tap Connect to a server
3. Tap Create New Account
- Verify New Account page
4. Enter valid details on input fields.
-  Verify register username page.

Expected Result:
Account creation successful. User shou

[2018-09-03 02:20] Renzmu opened #2161 "[BUG] Join the community>Login with a email does not accept a valid email"
Environment:
Rocket Chat App version 3.1.0 (209)
Device (or simulator) you're running with: iPhone 6+ IOS 11.4.1

Pre-Condition:
Rocket.Chat fresh installed

Steps:
1. Launch Rocket Chat app
2. Tap Join the community
3. Tap Login with email
4. Login using a valid account (eg. chinoc@sonarlogic.biz)
5. Verify the message

Expected Result:
valid email should work and user should be logged in

Actual

[2018-09-03 07:05] YanniStaMaria opened #2162 "[IMPROVEMENT] Forgot Password > Add Delete all button on enter email modal"
Environment:
Rocket Chat App version 3.1.0 (209)
Device (or simulator) you're running with: iPad Pro IOS 11.4.1

Pre-Condition:
Rocket.Chat fresh installed

Steps:
1. Launch Rocket Chat app
2. Tap Connect to a server
3. Enter valid URL on Server URL field
- Verify Login Page
4. Tap Forgot password
- Verify enter email modal

Expected Result:
Add Delete all button on enter email modal

Please see a

[2018-09-03 07:28] Renzmu opened #2163 "[BUG] Create New Channel>Error message: User was not authorized to create a channel but can create on main site"
Environment:
Rocket Chat App version 3.1.0 (209)
Device (or simulator) you're running with: iPhone 6+ IOS 11.4.1

Pre-Condition:
Rocket.Chat fresh installed
User is logged in

Steps:

1. Click the pencil like icon
2. Verify the page

Expected Result:
User must be able to create a channel

Actual Result:
Error message was shown
User was not authorized to create a channel

Please see proof:
https://

[2018-09-03 07:31] YanniStaMaria opened #2164 "[BUG] Open Chat room > Hide Chat room > App crashes when the hidden chat room is opened"
Environment:
Rocket Chat App version 3.1.0 (209)
Device (or simulator) you're running with: iPad Pro IOS 11.4.1

Pre-Condition:
Rocket.Chat fresh installed

Steps:

1. Launch Rocket Chat app
2. Tap Connect to a server
3. Enter valid URL on Server URL field
- Verify Login Page
4. Open a chat room
5. On the left panel, hide the opened chat room
- Verify chat room is still open
6. Search for the hidd

[2018-09-03 07:39] Renzmu opened #2165 "[BUG] Horizontal View on login page is not working"
Environment:
Rocket Chat App version 3.1.0 (209)
Device (or simulator) you're running with: iPhone 6+ IOS 11.4.1

Pre-Condition:
Rocket.Chat fresh installed

Steps:

1. Launch Rocket Chat app
2. Set phone on horizontal
3. Verify the page

Expected Result:
Horizontal must adapt the view of the page

Actual Result:
Horizontal view did not follow the phone orientation

Please see proof
https://www.dr

[2018-09-04 01:35] YanniStaMaria opened #2168 "[BUG] Add/Attach Files button > Choose an option > White spaces as filename was uploaded"
Environment:
Rocket Chat App version 3.1.0 (209)
Device (or simulator) you're running with: iPad Pro IOS 11.4.1

Pre-Condition:
Rocket.Chat fresh installed

Steps:

1. Select any conversation on the list
- Verify conversation page should display
2. Tap Add/Attach Files Button
- Verify adding file option
3. Choose an option (Take a Photo, Record Video, Choose from library, Attach files or Drawing)

[2018-09-04 01:40] YanniStaMaria opened #2169 "[BUG] Chat room > Delete > Message was not deleted immediately"
Environment:
Rocket Chat App version 3.1.0 (209)
Device (or simulator) you're running with: iPad Pro IOS 11.4.1 and iPhone 6+ IOS 11.3.1

Pre-Condition:
User is logged in.
User is in a chat room with messages.

Steps:
1. Long press own message
- Verify Message options modal
2. Click Delete Message option
- Verify confirmation message
3. Click "Yes, delete" button on the confirmation message
- Veri

[2018-09-04 01:51] Renzmu opened #2170 "[BUG] Horizontal View on a channel ,and returning to vertical view closes the channel"
Environment:
Rocket Chat App version 3.1.0 (209)
Device (or simulator) you're running with: iPhone 6+ IOS 11.4.1

Pre-Condition:
User is logged in

Steps:
1. Go to a channel
2. Change the phone orientation to horizontal
3. Change to vertical and observe

Expected Result:
When the orientation is changed user should be still in the channel

Actual Result:
When the orientation was changed user was no

[2018-09-04 07:41] gagaha commented on #2129
@rafaelks Thanks for looking into this! Here is a example link to an [image](https://rgw1.netways.de/1826-rocketchat-ffe65/1826-rocketchat-ffe65/anE4DKhoL4cMvjEbG/uploads/XSgP6M9aZjGouCruX/5XYKsEreG4kMwZmeE/DfymPwsMyJwiPnXSJ?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ZXPJ4840TKBFPBY5D8PY%2F20180904%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20180904T073328Z&X-Amz-Expires=120&X-Amz-Signature

[2018-09-04 11:59] rafaelks commented on #2159
@YanniStaMaria This error is returned from the back-end right now, in order to fix that, we need to improve the way we handle the errors and the way back-end sends it.

[2018-09-04 11:59] #2159 closed

[2018-09-04 14:07] cardoso commented on #2169
This should've been fixed by https://github.com/RocketChat/Rocket.Chat.iOS/pull/2127

And I can't reproduce it anymore.

[2018-09-04 14:07] #2169 closed

[2018-09-04 17:31] #2160 closed

[2018-09-06 08:46] frdmn opened #2174 "[IMPROVEMENT] Join Jitsi conference link"
- Your Rocket.Chat app version: `3.1.0 (210)`
- Your Rocket.Chat server version: `0.66.0`
- Device (or Simulator) you're running with: iPhone X

### Description:

Unable to join Jitsi conference from within the iOS client

### Steps to reproduce:

1. Open desktop/browser version of Rocket.Chat
2. Create/send out Jitsi invitation
3. On the receiving end, try to open the Jitsi conference from the iO

[2018-09-06 09:55] rafaelks opened #2175 "[CRASH] AuthTableViewController.swift line 312 -- specialized AuthTableViewController.tableView(UITableView, cellForRowAt : IndexPath) -> UITableViewCell"
[code]

[2018-09-06 13:51] #2175 closed

[2018-09-08 23:36] soundstorm opened #2177 "[BUG] Search shows deleted users"
Probably a Rocket.Chat API not an iOS specific problem, but maybe a Realm problem? Anyhow:
When you search for the username of an ex-member, the account will still be shown including cached profile picture. No username is shown, so "No messages" slides into online state.
![GitHawk Upload by soundstorm](https://i.imgur.com/HXF3lGC.jpg)

[2018-09-08 23:39] soundstorm opened #2178 "[BUG] Chat jumps when scrolling typing field"
https://youtu.be/uVGfdzTkjkw

[2018-09-09 00:10] cardoso commented on #2177
Related to this: https://github.com/RocketChat/Rocket.Chat.iOS/issues/2133

Yes, we probably need a new API endpoint. Something like `users.RemovedSinceDate`.

[2018-09-10 08:43] hubermat opened #2179 "[BUG] Sometimes single messages are scrollable => #1656"
Rocket.Chat app 3.1.0 (210)
Rocket.Chat server 0.69.1
iPhone 5S, iOS 11.4

Single multiline messages, that have just one or a few words on the last line, are scrollable! The last line is not displayed and will only become visible through scrolling, which is very annoying and often leads to confusion, as the sense of the message is lost or sometimes inverted.

For this bug already an issue exists u

[2018-09-10 11:38] rafaelks commented on #2179
@hubermat Thanks for opening the issue! We're rewriting the list of messages and this problem will be solved in the next release. 👍

[2018-09-10 16:32] rafaelks commented on #2177
@rodrigok Is there a way for us to update the app to remove all the "deleted" users?

[2018-09-10 16:37] soundstorm commented on #2093
@rafaelks @Sameesunkaria seems like we have to reopen this. If I take a photo and tap the "use photo" button directly afterwards, the app still freezes.

[2018-09-10 16:44] Sameesunkaria commented on #2093
@soundstorm Does the app become unresponsive intermittently, or does it completely freeze and not recover afterwards?

[2018-09-10 16:47] soundstorm commented on #2093
Even closing and opening again has no effect, need to force quit. So it's a real freeze.

[2018-09-10 17:15] Sameesunkaria opened #2181 "[CRASH] Incorrect index path on tapping a cell in subscriptions VC"
Under rare conditions, on tapping a cell, an incorrect index path is selected which causes the app to crash.

[code]

[2018-09-12 14:59] flowli opened #2183 "[BUG] Changed avatar in app/web won't show to other users"
# Description
Avatars not being updated for other users when changed via desktop app/web browser or the mobile apps (Android/iOS).

# Devices and Versions
iOS Rocket.Chat: 3.1.0 (210)
Tested on iPhone SE and iPhone 6

# Steps to reproduce
Use any client, change the avatar, check on the iOS app. The avatar will be default or some old version.

[2018-09-13 11:24] piotrkochan opened #2184 "[BUG] Attachments does not work"
- Your Rocket.Chat app version: 3.1.0 (210)
- Your Rocket.Chat server version: 0.69.1
- Device (or Simulator) you're running with: Iphone SE

The bug I've encountered is problem with upload taken photos, photos from library or attachments.
After click on "upload" nothing happens.

Only video is uploaded, but i can't play it (also there is no preview of this movie).

Drawings upload works fine.

[2018-09-14 11:27] #2181 closed

[2018-09-14 11:49] entonio commented on #2009
Yes, please. Font size is just too small. Dynamic type or not, it's smaller than what you find on other apps, which aren't known for having large type either.

[2018-09-14 13:12] #2163 closed

[2018-09-14 19:42] #1509 closed

[2018-09-15 18:06] Sameesunkaria commented on #2158
Experienced the glitch on an iPad.

[2018-09-17 06:42] Sameesunkaria commented on #2093
@soundstorm what the setting for `Maximum File Upload Size (in bytes)` on your server? And does this happen on open.rocket.chat?

[2018-09-17 08:17] soundstorm commented on #2093
Is currently at `1073741824` - should be sufficient ;)
Currently hard to reproduce.

[2018-09-17 09:41] Sameesunkaria commented on #2093
@soundstorm Can you please give #2191 a try? I have moved all the media processing to a background thread.

I haven't been able to reproduce this on my device, so this is just a hunch on what may be happening.

[2018-09-18 08:57] Sameesunkaria commented on #2184
I did yesterday. It may be related to a bad connection. Because it worked on one server and didn’t on the other. Quitting the app and relaunching fixes it for me.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-18 09:33] piotrkochan commented on #2184
Restart does not work for me. I've updated my iPhone to iOS12 and now after tap on "use photo" app freezes. If I select image from gallery and tap "upload" there is upload progress bar, it goes fast to 100% and then nothing happens. I'm sure that server accepts `image/*` file types.

Attach files, taking video, drawings are ok.

[2018-09-18 09:35] piotrkochan opened #2193 "iOS12 Take photo -> Use photo -> App freeze"
- Your Rocket.Chat app version: 3.1.0
- Your Rocket.Chat server version: 0.69.1
- Device (or Simulator) you're running with: iPhone SE

In https://github.com/RocketChat/Rocket.Chat.iOS/issues/2184 I've introduced some issues which I have with file-uploads. Meanwhile I've updated to iOS12 and the issue is that after taking a photo and tapping on "use photo" application freezes and only app kill hel

[2018-09-18 13:59] Sameesunkaria commented on #2193
@piotrkochan Can you try running #2191 ?

[2018-09-18 14:13] piotrkochan commented on #2193
I dont have mac so I cant compile ios app
W dniu wt., 18.09.2018 o 15:59 Samar Sunkaria <notifications@github.com>
napisał(a):

[2018-09-18 14:44] etothepii commented on #2184
I am getting a similar problem when adding photos, if a picture is taken and uploaded on iOS then it appears to upload and then says upload error not found. This may be a server error though as it has also been observed on an android device.

[2018-09-18 21:12] zenjabba commented on #2184
[34mAPI ➔ debug post rooms.upload/:rid threw an error: Error: File size is too small (min = 1) [file-too-small] at Filter.check (/app/bundle/programs/server/packages/jalik_ufs.js:577:13) at FileUploadClass.insert (/app/bundle/programs/server/packages/rocketchat_file-upload.js:650:14) at packages/meteor.js:258:21 at DDPCommon.MethodInvocation.Meteor.runAsUser (/app/bundle/programs/server/packages/r

[2018-09-19 11:53] #2146 closed

[2018-09-19 12:04] TheReal1604 commented on #2184
@piotrkochan can only reproduce this with new taken pictures, NOT with the gallery.

[2018-09-19 12:04] zenjabba commented on #2184
I have the problem with the Gallery as well.

[2018-09-19 12:53] rafaelks commented on #2184
Hey guys, sorry the late response here... can you pass me the configuration in your server for "Maximum Upload File Size"? Thank you!

[2018-09-19 13:05] piotrkochan commented on #2184
I have 20000000
W dniu śr., 19.09.2018 o 14:54 Rafael Kellermann Streit <
notifications@github.com> napisał(a):

[2018-09-19 13:38] zenjabba commented on #2184
I have tried -1 and a stupidly big number... same result.

Also tried changing between S3 and GridFS... same result.

[2018-09-19 18:04] #2027 closed

[2018-09-20 11:02] serge-petrov commented on #2184
Small attachments (screenshots, paintings) works ok. Photos start to upload but nothing happens.
Tested on several devices. iPhone 6, 6S, 7, X.
Server: RocketChat/release-0.69.2
Client: 3.1.0 (210)

[2018-09-20 11:08] rafaelks commented on #2184
@zenjabba @piotrkochan You guys received the build yesterday (3.2.0 - 213)... does it work now?

[2018-09-20 11:40] piotrkochan commented on #2184
Hey @rafaelks I've just tried this build and:
* Use photo, after take make app freeze once but after restart there is still upload bar and nothing happens after that. Sometimes upload bar freezes and after while there is "Upload error" message.
* Video take seems working
* Choose image from library -> upload bar -> 100% -> dissapears and no uploaded file
* Attach files seems working but there is n

[2018-09-20 11:40] piotrkochan commented on #2184
I tried "Video take" more times and it sometimes works and sometimes not.

[2018-09-20 12:54] zenjabba commented on #2184
Seeing exactly the same as @piotrkochan

[2018-09-21 11:42] piotrkochan commented on #2184
@zenjabba what device You are using? Which iOS version?

[2018-09-21 11:47] zenjabba commented on #2184
Tried on iPhone X, iPhone 8 Plus.. had problems on 11.4.1 and now 12.

[2018-09-21 11:50] avignat commented on #2184
iOS 12
Rocket (server) 0.69.2
Rocket.Chat (app) 3.1.0

[2018-09-21 12:23] rafaelks opened #2196 "[CHORE] Create a default warning message to users using E2E"
If the message has type `e2e`, since we don't have a way to support them in mobile yet, we'll be showing this message to the user:

[2018-09-21 12:28] rafaelks commented on #2184
OK guys, we're investigating the issue. Please share the settings you are using related to "maximum upload size" as well. 👍

[2018-09-21 12:29] zenjabba commented on #2184
I’ve had it at -1 (ie unlimited) and a VERY big number on another server (335544320)

[2018-09-21 12:31] piotrkochan commented on #2184
@rafaelks As I said before, my setting is 20000000

[2018-09-21 12:33] rafaelks commented on #2184
@zenjabba @piotrkochan What are the other settings here? I'm trying with the same settings, on the same build and iPhone X and I can send the files normally, no problem at all.

![screen shot 2018-09-21 at 09 33 14](https://user-images.githubusercontent.com/551004/45881380-60f68680-bd81-11e8-9825-33d713c72a99.png)

[2018-09-21 12:34] piotrkochan commented on #2184
I'll post my settings on monday

[2018-09-21 12:35] zenjabba commented on #2184
<img width="1438" alt="screen shot 2018-09-21 at 8 34 47 am" src="https://user-images.githubusercontent.com/679864/45881471-46201400-bd79-11e8-9c09-9750a5ac19f8.png">

[2018-09-21 12:36] piotrkochan commented on #2184
Maybe the trick is behind accepted media types. @zenjabba could you copy whole setting? I'll do the same when I'll get access to the server (monday)

[2018-09-21 12:37] avignat commented on #2184
`|*client_max_body_size 100m;*|`

Le 21/09/2018 à 14:35, zenjabba a écrit :

--
Armand VIGNAT
Tél  : 06 08 31 18 71
Mail/XMPP/Matrix : armand@vignat.org
PGP  : 591FB04E88F0E46DF443FF427788A29DDB31816D

[2018-09-21 12:42] avignat commented on #2184
nginx `client_max_body_size 20m;`
Rocket : 20097152

[2018-09-21 12:45] piotrkochan commented on #2184
I gonna check my nginx' `client_max_body_size` later. @avignat do you have similar upload issues?

[2018-09-21 12:49] rafaelks commented on #2184
@avignat Could guys try increasing this a little bit?

[2018-09-21 12:54] Sameesunkaria commented on #2196
Do we have a spec for how the e2e works?

[2018-09-21 12:57] rafaelks commented on #2196
@Sameesunkaria The APIs are still under development (to be ready for 0.71 release). Today I'll have a call to understand it better and see if we can do something right now. 👍

[2018-09-21 12:57] zenjabba commented on #2184
nginx increase fixed it. I made it 200m; and worked first time.

[2018-09-21 12:57] avignat commented on #2184
@rafaelks @piotrkochan tweaking nginx `client_max_body_size` seems to fix the issue for me.

[2018-09-21 12:58] piotrkochan commented on #2184
That sound awesome! I'll try it and give my feedback.

[2018-09-21 12:59] rafaelks opened #2197 "[CHORE] Enable avatars caching over HTTP instead disk"
@filipealva Now we can already enable the caching of avatars over HTTP info, the update on the server it's been a while now. 👍

Closes #2183

[2018-09-21 12:59] avignat commented on #2184
Why did this work until today without tweaking this parameter and suddenly break ?

[2018-09-21 12:59] rafaelks commented on #2183
@flowli Thanks for opening the issue, this is going to be address here: #2197.

[2018-09-21 12:59] #2183 closed

[2018-09-21 13:02] zenjabba commented on #2184
Recommend that rocket.chat server maintainters update `https://rocket.chat/docs/installation/manual-installation/configuring-ssl-reverse-proxy/` to include the line

`client_max_body_size 20m;`

at the end of the nginx reverse proxy ssl entry.

[2018-09-21 13:05] piotrkochan commented on #2184
Is web or electron app somehow different from mobile apps? Should it not work on different clients too?

[2018-09-21 13:11] zenjabba commented on #2184
Glad this fixed the problem... was driving me insane :)

[2018-09-21 13:29] rafaelks commented on #2184
Awesome guys! Is it working fine for you guys then? Not sure if something changed in the back-end, but nothing has changed in the apps related to that lately.

[2018-09-21 14:39] zenjabba commented on #2184
Can confirm the error is still in the App Store version, but the testflight version is working as expected... Timeframe for pushing out new version?

[2018-09-21 14:57] Emersonyh opened #2198 "[QUESTION] Login using Crowd"
- Your Rocket.Chat app version: 3.1.0
- Your Rocket.Chat server version: 0.68.3
- Device (or Simulator) you're running with: 11.4.1

When trying to login with ths iOS app, I'm unable to use Crowd, he goes back to the local password on MongoDB.
Since our server is configured to use Crowd, the mobile app is not working properly

[2018-09-21 16:44] rafaelks commented on #2184
@zenjabba OK, sounds good. I'm thinking about sending a hotfix build today to review with this (and a bunch of other) fixes.

[2018-09-21 20:01] rafaelks opened #2200 "[CRASH][SHARE EXTENSION] Crash on trying to share a screenshot from iPhone (from the screenshot modal)"

[2018-09-21 21:52] rafaelks opened #2201 "[BUG] Mentions list is not correctly sorted"

[2018-09-22 18:27] #2184 closed

[2018-09-24 03:38] rafaelks commented on #2198
@Emersonyh Can you elaborate your issue? What's Crowd?

[2018-09-24 06:45] piotrkochan commented on #2184
I confirm that increase `client_max_body_size` works.

[2018-09-24 12:09] soundstorm opened #2205 "[NEW] List of "client-side" blocked users in order to unblock"
While blocking an user hides all their messages (but does not mute them) there is no way to unblock an user.

[2018-09-24 12:53] rafaelks commented on #2093
This is now fixed in 3.1.1, thanks a lot for the help. 👍

[2018-09-24 12:53] #2093 closed

[2018-09-24 12:53] #2060 closed

[2018-09-24 12:54] rafaelks commented on #1891
Problem was on the server, getting fixed in version 0.70.

[2018-09-24 12:54] #1891 closed

[2018-09-24 12:54] rafaelks commented on #1288
I'm not able to reproduce this one anymore, let us know if this is still happening a lot please.

[2018-09-24 12:54] #1288 closed

[2018-09-24 12:55] rafaelks commented on #1167
Are we still missing these messages in 3.1.1?

[2018-09-24 13:01] mrsimpson commented on #1167
I’d add the Jitsi-call-started to the potentially existing list of not-rendered messages

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-24 13:16] Sameesunkaria commented on #2193
@piotrkochan Can you try this on the latest update?

[2018-09-24 13:18] piotrkochan commented on #2193
I tried it today, and I think it works.

[2018-09-24 13:18] #2193 closed

[2018-09-24 13:31] rafaelks commented on #2093
@soundstorm Let us know if you still experience this please!

[2018-09-24 14:44] flowli commented on #2183
@rafaelks Thanks, does that mean I upgrade the server and it just works?

[2018-09-24 14:53] rafaelks commented on #2183
@flowli No... we'll need an update in the iOS app, but we already have this issue to track it: #2197.

[2018-09-24 17:43] etothepii commented on #2184
Is this a server setting or an admin client setting because that didn’t
resolve it for me.

On Mon, 24 Sep 2018 at 2:45 AM, Piotr Kochan <notifications@github.com>
wrote:

[2018-09-24 20:03] piotrkochan commented on #2184
@etothepii nginx setting (http proxy)

[2018-09-24 20:05] piotrkochan commented on #2198
Native apps does not have anything to crowd, it should and work for me. Check RocketChat log when someone logs in

[2018-09-25 10:52] avs-ru opened #2208 "Visible all deleted/cleaned messages in channels"
- Your Rocket.Chat app version: **3.1.1(214)**
- Your Rocket.Chat server version: **0.69.2**
- Device (or Simulator) you're running with: **iPhone ios 10.2.1**

After cleaning old messages in channel on desktop via browser (not standalone client, maybe same), or delete message from some user on channel on moble I can see all cleaned or deleted messages.

Looks like all messages is cached on mobile

[2018-09-25 11:56] rafaelks commented on #2198
Closing this issue for now in this case, thanks for the reply @piotrkochan! 👍

[2018-09-25 11:56] #2198 closed

[2018-09-25 11:57] rafaelks commented on #2178
@soundstorm Thanks! This is getting fixed with the replacement of the SlackTextViewController component. 👍

[2018-09-25 13:14] johnjoeallen commented on #1398
I'm getting this issue with the latest native app and my SSL server has an A rating. Letsencrypt certificate

https://chat.moyville.net

[2018-09-25 13:30] rafaelks commented on #1398
@johnjoeallen WOW! You just own the title of oldest server version trying to connect to our iOS app, hahaha... you're running 0.14 (from 2016) 🥇. This is not supported, we support only 0.62+ and you can see the list here: https://rocket.chat/docs/developer-guides/mobile-apps/supported-servers-versions/#supported-servers-versions

[2018-09-25 18:17] rafaelks commented on #2208
This issue is blocked because there's no way to get deleted messages via API.

[2018-09-25 18:18] rafaelks commented on #2133
This issue is blocked because there's no way to get deleted messages via API.

[2018-09-25 18:28] avs-ru commented on #2208
@rafaelks But I don't need 'deleted' messages! I need only view messages are actually in channel.

Steps to reproduce:
1/ In channel lots of messages
2/ *user* go to channel on iOS client and read all of them.
3/ *admin* clear the channel via 'Purge' options

Result:
- in DB no messages.
- on desktop client *user* got empty channel.
- on iOS client all previously viewed messages in place. Only log

[2018-09-25 18:43] avs-ru commented on #2208
As I think (as not programmer) - there is no "refresh" action doing when go to previously viewed channel, only getting new messages without refresh (but if message was edited - all O.K., all correct).

[2018-09-25 18:47] rafaelks commented on #2208
@avs-ru There's currently no way to for the mobile apps get what messages got deleted. Can you show me the option you are using to clear the messages?

[2018-09-25 19:07] avs-ru commented on #2208
Sorry this internal server :(.
But I make some screens!

So, in empty channel "general"(in this example) typed two messages:
![bug-desktop1](https://user-images.githubusercontent.com/43571461/46036418-1ae94c00-c10e-11e8-9230-465615cfe34b.png)
Then as another user (but i think login by different user not important) go to this channel on mobile
![bug-ios1](https://user-images.githubusercontent.com/4

[2018-09-25 19:11] rafaelks commented on #2208
@avs-ru Great, thanks!

[2018-09-25 20:14] rafaelks opened #2211 "[NEW] Allow user to "Delete the Account" from the app"
There's a Meteor method for that: `deleteUserOwnAccount`.

[2018-09-26 16:53] rafaelks commented on #1167
@mrsimpson Good call, thanks!

[2018-09-26 17:05] cardoso commented on #1167
@rafaelks https://github.com/RocketChat/Rocket.Chat/issues/9631

[2018-09-26 17:05] mrsimpson commented on #1167
@rafaelks btw: this would of course make good sense if the jitsi-app would be started upon clicking *something* on the system message (a button or a hyperlink)

[2018-09-26 17:06] mrsimpson commented on #1167
@cardoso this issue was about the message types, not the room types ;) Btw: Is there no API for the actual translations?

[2018-09-27 18:34] #2201 closed

[2018-09-28 08:45] soundstorm opened #2216 "[IMPROVEMENT] Avoid autocomplete of slash command within message"
If you start a message with `/` it's okay to display the list of commands. But if you type e.g. `maybe we should do this/that` you get the same autocomplete list within the message.
As it would have no effect, the autocomplete festure should only trigger when `^\s*/$` is valid.

[2018-09-28 15:08] rafaelks commented on #2129
@gcommit I still didn't have time to look into the issue and investigate, we'll probably be able to do that later next week.

[2018-09-28 17:01] avs-ru commented on #2133
Seem like #2208

[2018-09-29 14:34] cardoso commented on #2216
@rafaelks It's already fixed in the new composer.

[2018-10-01 20:42] thiagosanchz opened #2229 "[IMPROVEMENT] Swipe to Favorite / Unfavorite Icon Inverted"
**Correct way:**
Unfavorite with full star
Favorite with empty star

![favorite](https://user-images.githubusercontent.com/39275608/46314520-28388780-c5a1-11e8-857c-2d8fb435c786.png)

![unfavorite](https://user-images.githubusercontent.com/39275608/46314528-2e2e6880-c5a1-11e8-8ff7-529959cb044a.png)

[2018-10-01 21:20] thiagosanchz opened #2230 "[IMPROVEMENT] Swipe to read message appear different background"
When I swipe a message to right to make message read or unread, another background (grey) appear. We can set this background with blue too.
![img_47b1e7ac7473-1](https://user-images.githubusercontent.com/39275608/46315742-9cc0f580-c5a4-11e8-9309-e3ae36be3bc8.jpeg)

[2018-10-02 17:36] blackhatethicalhacking commented on #1398
Hi, got also the same issue, but on android only.

After using LetsEncrypt, i can connect with IoS, on desktop too.

but on android i cannot, any nginx config i need to change maybe under docker compose config file?

[2018-10-05 11:40] rafaelks commented on #2170
This is the expected behaviour on iPhone Plus models.

[2018-10-05 11:40] #2170 closed

[2018-10-05 11:41] rafaelks commented on #2168
That's not a problem the app needs to control since the API endpoint accepts whitespaces.

[2018-10-05 11:41] #2168 closed

[2018-10-05 11:41] rafaelks commented on #2165
We decided to not support horizontal for now because we don't think that makes sense, only for iPads (and we support it).

[2018-10-05 11:41] #2165 closed

[2018-10-05 11:42] rafaelks commented on #2164
This one is fixed in 3.1.1.

[2018-10-05 11:42] #2164 closed

[2018-10-05 11:42] #2162 closed

[2018-10-05 11:43] rafaelks commented on #2161
You are testing with a user that doesn't have account on the community server.

[2018-10-05 11:43] #2161 closed

[2018-10-05 11:46] rafaelks commented on #2141
Let's address this one in #2195.

[2018-10-05 11:50] rafaelks commented on #1871
This one is fixed for 3.1.1.

[2018-10-05 11:50] #1871 closed

[2018-10-05 11:50] rafaelks commented on #1847
This one was already done by #1846

[2018-10-05 11:50] #1847 closed

[2018-10-05 11:50] rafaelks commented on #1794
iOS 10 won't be supported anymore after 3.2.0.

[2018-10-05 11:50] #1794 closed

[2018-10-05 11:52] rafaelks commented on #1328
This is not in our plans for now, let's close this.

[2018-10-05 11:52] #1328 closed

[2018-10-05 11:53] rafaelks commented on #1317
This is not suppose to happen for now, so let's close this until we figure a better way.

[2018-10-05 11:53] #1317 closed

[2018-10-05 11:54] rafaelks commented on #1171
I think this can actually be bad for the user... just because you replied to a notification it doesn't mean you read the whole thread. Let's close this for now until we change our minds (opinions on this are welcome!)

[2018-10-05 11:54] #1171 closed

[2018-10-05 11:55] rafaelks commented on #405
With E2E being implemented for 3.3.0, we can close this one.

[2018-10-05 11:55] #405 closed

[2018-10-05 11:56] rafaelks commented on #662
Closing this one because we had very few requests, if someone is willing to implement this we can reopen again. 👍

[2018-10-05 11:56] #662 closed

[2018-10-07 13:02] soundstorm opened #2240 "[IMPROVEMENT] Show differently sorted channel list when using search"
On desktop, when clicking the channel search, it shows [regardless of the user settings] the channels/groups/dms ungrouped sorted by activity.

Would be an easy shortcut instead of searching for the last used channel if you use grouped/alphabetically sorted list.

[2018-10-08 15:49] #2229 closed

[2018-10-12 01:33] VinhNguyenDucThuy opened #2248 "[BUG][INVESTIGATE] Mp4 video not working in iphone version"
- Device (or Simulator) you're running with: All device and simulator
- I send record video to friend. Video not play in iphone. But it work in android.
- Link video youtube work well.
Video link: https://ica.hdtex.group/file-upload/Pe8QR8u7ACie6ouoo/4Ot4hGScy2kcz6u80Nrw.mp4?rc_uid=s23Hen62SKh9DuT4D&rc_token=LjoYV5AUXt-LPmtd2YCC2oQDLbDTG83bNK3FvaLfkly
- Steps to reproduce:
    +Chosse friend to ch

[2018-10-12 13:13] jhmk commented on #1629
I also would like to be able to open a link in provided by a webhook.
For example I have a channel with with Bitbucket integration but on the iOS app I cannot open the links to the Repos. On the Desktop it is working

[2018-10-12 16:50] TannerJuby1 opened #2249 "[QUESTION] Navigating Issues From ChatViewController"
- Your Rocket.Chat app version: Latest
- Your Rocket.Chat server version: Not sure, but API is latest
- Device (or Simulator) you're running with: iPhone XS Max (occurs on all)

I am using Rocket.Chat.iOS to embed into a single tab of a larger application. Everything seems to work perfectly fine, except when navigating or presenting a view onto `ChatViewController`. When I open either `ChannelActi

[2018-10-15 12:56] rafaelks commented on #2249
@TannerJuby1 You should probably navigate the controller using a different navigation controller stack instead of the one use are using. 🤔

[2018-10-15 14:31] soundstorm opened #2252 "[IMPROVEMENT] Chat/List in Landscape/Portrait on iPhone"
I have my phone most of the time in rotation lock mode, but now I discovered this behaviour because I turned it off:
On my iPhone (8+) I was in the portait Chat-View, when I held it wrong and it switched to landscape. When switching back to portrait, you'll be thrown back to the channel list instead of the chat view (and may have to search for the channel you were just in).

I prefere to hide the

[2018-10-15 15:01] TannerJuby1 commented on #2249
I should use a different navigation stack on Rocket.Chat than the one Rocket.Chat created? That doesn't make any sense.

The only difference between the architecture is that the app I'm working on has the root of Rocket.Chat on a TabViewController instead of the key window.

In regards to stacks, with proper practice, if I'm trying to pop off the nth item in the stack, I should be on the n-1 item

[2018-10-15 19:16] sjoerdmaessen commented on #1910
Some members of ours are experiencing the same issue, latest app version, latest iOS version.

[2018-10-21 08:01] SIMRAN1 commented on #2230
@rafaelks may I work on this issue?

[2018-10-21 08:05] Sameesunkaria commented on #2230
@SIMRAN1 Sure! We want the gesture to mimic how it looks like on iOS 11. So the glyph should stay on the leading edge until the action is about to be selected, and like @thiagosanchz said, it should have a homogeneous background. (See the Mail app for reference)

Cheers!

[2018-10-22 16:46] SIMRAN1 commented on #2230
okk @Sameesunkaria I will send a pr for this soon!

[2018-10-23 14:33] Revisor01 commented on #2248
Hello,
got the same error. Switiching to GridFS makes mp4 and mov Videos playable. If I switch to FileSystem the file is not played. It is uploaded without problems.

[2018-10-25 15:10] avs-ru commented on #1735
**Add:**
Web client correctly change URL with phone number (add `tel:` prefix). iOS client doing nothing on tapping to this URL :(

[2018-10-25 17:20] vynmera commented on #964
We really need this to be able to enable the feature for us!

[2018-10-26 07:43] Shaverdoff opened #2264 "[BUG] Bug with upload photo from Camera and from MediaLibrary"
- Your Rocket.Chat app version: 3.1.1
- Your Rocket.Chat server version: 0.70.3
- Device (or Simulator) you're running with: iPhone X 12.0.1, iPhone 6 11.3.1, iPhone 5S 12.0.1 and more

Login to Rockeet.chat on-premise server, tap on DM/CH/PG with my colleague, tap blue "+" and choose make photo, use photo to send, fill named-dialog and tap upload... uploading progress bar in the top of telephone

[2018-10-26 13:50] Shaverdoff commented on #2264
Rafael we talk in email about that issue, i write to you from sha***ail.com. We can proceed here.

[2018-10-26 14:10] rafaelks commented on #2264
@Shaverdoff Can you post that screenshot here? I could not see over there.

[2018-10-26 14:14] Shaverdoff commented on #2264
[image1.jpeg]
Here you go

Отправлено с iPhone

26 окт. 2018 г., в 18:10, Rafael Kellermann Streit <notifications@github.com<mailto:notifications@github.com>> написал(а):

@Shaverdoff<https://github.com/Shaverdoff> Can you post that screenshot here? I could not see over there.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/R

[2018-10-26 15:10] Shaverdoff commented on #2264
damn))) i was answer to you on email ))) here you go twice)
![upload-size](https://user-images.githubusercontent.com/43804710/47575291-caeee680-d952-11e8-9777-a25a30ca14d0.jpg)

[2018-10-26 17:30] rafaelks opened #2265 "[NEW] Support "Hyperlink" of the message to be copied"
## Description

If someone long press a message, there should be an option to copy the hyperlink of it.

[2018-10-28 08:14] Shaverdoff commented on #2264
Rafael.. maybe this helps.. i use default gridfs on single instance on-premise server instead of filesystem to upload and other store.

Отправлено с iPhone

26 окт. 2018 г., в 18:19, Rafael Kellermann Streit <notifications@github.com<mailto:notifications@github.com>> написал(а):

@Shaverdoff<https://github.com/Shaverdoff> There's no image yet...

—
You are receiving this because you were mentioned

[2018-10-29 08:37] Shaverdoff commented on #2264
update relase 071 of rocketchat server but still bug to upload in ios app

[2018-10-29 13:29] rafaelks commented on #2264
@Shaverdoff What error are you seeing?

[2018-10-29 13:31] Shaverdoff commented on #2264
@rafaelks no any error, just bliking upload progress indicator on the top of rocketchat screen and nothing happing... there are no uploaded file on chat .

[2018-10-29 13:32] rafaelks commented on #2264
@Shaverdoff Do you have debugging skills with iOS? Would be nice to understand what's happening.

[2018-10-29 13:34] Shaverdoff commented on #2264
no i'am not developer at all. only with administrative skills. but i think a can make video through second phone and send to you

[2018-10-29 13:42] rafaelks commented on #2264
@Shaverdoff Sounds good!

[2018-10-29 13:52] Shaverdoff commented on #2264
https://yadi.sk/i/NrguySL70sh1tg
here you go.

[2018-10-29 13:54] Shaverdoff commented on #2264
also right ""button" send photo" pereodical sticks too

[2018-10-29 14:05] Shaverdoff commented on #2264
trying to rocketchat experimental. it will told me that error with upload file...

[2018-10-29 19:18] Shaverdoff commented on #2264
i asked at parallel-mobile world - Android users - thre are uploads failed too.... may be it a bug on-permis server?

[2018-10-29 21:40] rafaelks commented on #2264
@Shaverdoff I would love to have access to the logs of your error... can I have a user in your server?

[2018-10-29 22:23] Shaverdoff commented on #2264
can we speak in private about access? do not want to public secret url here. my skype is shaverdoff. knok me and i 'll provide url  to you.

[2018-10-30 16:15] housemaster1987 commented on #283
Hello,
We are currently running server version 0.69.2. One of our users is missing her profile picture. We've noticed that profile pictures will disappear from time to time but come back after a short time. This user's profile picture has been missing for weeks. I know this is an old thread, but has anyone else experienced this?

[2018-10-30 18:14] rafaelks commented on #283
@housemaster1987 It only happens in the mobile client? Is this avatar an URL or an image uploaded?

[2018-10-30 18:15] rafaelks commented on #2264
@Shaverdoff Yes, send me an email at `rafael.kellermann at rocket.chat`.

[2018-10-30 19:57] housemaster1987 commented on #283
@rafaelks We are not running a mobile client. Our users are connecting to a server we are hosting internally. The user profiles are synced up with Active Directory and the profile pictures are connected to each user's exchange photo.

[2018-10-31 08:09] Shaverdoff commented on #2264
successful?

[2018-10-31 12:43] rafaelks commented on #283
@housemaster1987 This app looks very old... is this a fork of our app or the version from the App Store? Could you try using the version from the App Store?

[2018-10-31 15:20] Shaverdoff commented on #2264
Login: rafael
Pass: As123456
url https://rocket.altarix.ru
also you have email rafael@altarix.ru<mailto:rafael@altarix.ru>
try to login

--
Gerasim Shaverdov | Deputy CTO | Altarix
Mobile: +7 937 070 66 84<tel:+7%20937%20070%2066%2084> | Skype/email : gerasim@altarix.ru<mailto:gerasim@altarix.ru>
Lenina av.25, Samara, Russia, 443068

From: Rafael Kellermann Streit [mailto:notifications@github.com]

[2018-10-31 16:28] #2196 closed

[2018-10-31 19:11] Shaverdoff commented on #2264
with Rafael find a missconfigure nginx )
https://github.com/RocketChat/Rocket.Chat.iOS/issues/2184#issuecomment-423517754
issues close.

[2018-10-31 19:11] #2264 closed

[2018-10-31 23:11] CodeFunta commented on #1910
HI, sorry for delay to. As I remember the option Show Default Login Form (when I set it to false) don't show login screen under iframe integration
![image](https://user-images.githubusercontent.com/9933960/47823803-f9b5f400-dd7a-11e8-8506-994acfe76964.png)
As I understands the mobile login is totally different and Iframe can't be used, but app need to check such behavior ( I mean when iframe integ

[2018-11-06 18:46] hog-seruj opened #2273 "Support Basic Authentication"
h2. Description

iOS application doesn't support basic authentication.
ex: it should authenticate with username:password@rc-domain.com

h2. Devices and Versions

iPhone 7
iOS 12
Rocket Chat 3.1.1

This issue was fixed for Android - https://github.com/RocketChat/Rocket.Chat.Android/issues/1727

[2018-11-07 01:14] VinhNguyenDucThuy commented on #2248
No. Client android working as well. But cant play in ios client.

[2018-11-07 09:09] gcommit commented on #2129
Hey @rafaelks any news on this issue ?

[2018-11-07 11:06] rafaelks commented on #2129
@gcommit I'm sorry the delay here... did you send me the email with your credentials? Can you send it again please?

[2018-11-07 11:20] rafaelks commented on #2248
@VinhNguyenDucThuy Gotcha, OK, let's reopen then... can I have access to your server or some debugging/logging information about this attachments?

[2018-11-07 12:21] rafaelks opened #2275 "[BUG][RCVC] "Scroll to Bottom" is not visible with open keyboard"
(screenshot in private)

[2018-11-07 12:21] rafaelks opened #2276 "[BUG][RCVC] Left and right edges on iPad need to increase to match the other elements in the controller"

[2018-11-07 12:22] rafaelks opened #2277 "[BUG] Link previews without image need to hide the image component"

[2018-11-07 12:22] rafaelks opened #2278 "[IMPROVEMENT][RCVC] Pressing "Return" in the physical keyboard should send the message"

[2018-11-07 16:25] cardoso opened #2280 "[BUG][RCVC] When entering room during search there's no navigation bar or composer"
![](https://i.imgur.com/mOQxQPR.png)

[2018-11-07 20:58] rafaelks commented on #2277
This is already fixed.

[2018-11-07 20:58] #2277 closed

[2018-11-07 22:33] cardoso commented on #2280
Closed by https://github.com/RocketChat/Rocket.Chat.iOS/pull/2195/commits/1997108f61fad47c939796c1c3629fc7f8a652c9

[2018-11-07 22:33] #2280 closed, assigned to nobody

[2018-11-07 22:35] cardoso opened #2284 "[IMPROVEMENT][RCVC] Use dark keyboard in dark themes"

[2018-11-07 23:23] rafaelks opened #2287 "[BUG][RCVC] Composer do not change theme by using keyboard shortcut"

[2018-11-07 23:24] cardoso opened #2288 "[BUG][RCVC] Keyboard return not sending message"

[2018-11-07 23:30] rafaelks opened #2289 "[NEW] Remove `@` from mentions on the text of the message"
In order to support Federation, Rocket.Chat internally decided that removing `@` from mentions in the message is a good solution.

In summary, the changes are:

1. In order to mention someone, `@all` or `@here` you keep using `@`;
2. When the clients display the mention, the `@` is removed from the text;

[2018-11-07 23:48] cardoso commented on #2289
I don't agree with this :p

Having '@' is the norm pretty much everywhere.
And If there's @ it will be easier for users not familiar with chat tools to know how to mention.

[2018-11-07 23:54] rafaelks commented on #2289
@cardoso I also don't agree, I think it'll confuse many people... but Rocket.Chat decided that removing `@` from mentions would be important/required for Federation (internal discussions). Unfortunately I couldn't see any online discussion right now about this topic to attach here, that's why I moved it to 3.3.0... let's see what happens.

[2018-11-08 01:21] dingonv opened #2290 "[NEW] Directory of Channels and Users"
I'm using the latest version of both iOS native app and server at time of posting.

Why is there no directory in the iOS app that allows you to see rooms available to join? browser and desktop have this feature. Please tell me I'm an idiot and point me to where it is.

[2018-11-08 02:00] VinhNguyenDucThuy commented on #2248
URL download video:
https://ica.hdtex.group/file-upload/Pe8QR8u7ACie6ouoo/4Ot4hGScy2kcz6u80Nrw.mp4?rc_uid=s23Hen62SKh9DuT4D&rc_token=LjoYV5AUXt-LPmtd2YCC2oQDLbDTG83bNK3FvaLfkly

Info attachments log by debug xcode:
Attachment {
	identifier = MuxUnLEDN3jueVgubhIiuabTLitnwN;
	collapsed = 0;
	text = (null);
	descriptionText = ;
	thumbURL = (null);
	color = (null);
	title = C49TeMcBJFkQv5WEZImm.mp4;

[2018-11-08 09:07] hog-seruj commented on #2273
No, I don't have any pull-request for iOS.

[2018-11-08 16:11] rafaelks commented on #2248
That works for me... what's the iOS version you are running?

![img_7553](https://user-images.githubusercontent.com/551004/48211227-3330c580-e360-11e8-8f14-0e1fb557993c.png)

[2018-11-08 18:37] cardoso commented on #2289
@soundstorm this is only a cosmetic change in the message view.

You still have to type @ to mention someone (then it's magically omitted)

[2018-11-08 20:10] cardoso opened #2294 "[BUG][RCVC] Empty state is missing on iPad"
![](https://i.imgur.com/8ppGCCS.png)

[2018-11-09 01:50] VinhNguyenDucThuy commented on #2248
Thank you so much. I don't know real version RocketChat ios :). My iPhone is ios10 and ios12. My app has been customized. How to find the real version?

[2018-11-09 08:53] rafaelks commented on #2248
@VinhNguyenDucThuy You can find it here: https://support.apple.com/en-us/HT201685.

What was customised in the app? Make sure you have the latest branch.

[2018-11-09 12:05] #2288 closed

[2018-11-09 12:23] #2287 closed, assigned to cardoso

[2018-11-09 13:04] #2278 closed

[2018-11-09 13:35] rafaelks commented on #2249
@TannerJuby1 Is this happening on iPad and iPhone?

[2018-11-09 13:36] rafaelks commented on #2230
@SIMRAN1 Are you working on this?

[2018-11-09 19:40] #2294 closed

[2018-11-09 20:23] #2276 closed, assigned to filipealva

[2018-11-09 22:08] rafaelks opened #2302 "[BUG][RCVC] Draft Messages aren't working with new composer"

[2018-11-10 21:38] cardoso opened #2304 "[BUG][RCVC] After editing the message cell doesn't update to the new text"

[2018-11-12 16:45] rafaelks opened #2307 "[BUG][RCVC] Pinned messages aren't getting "User X pinned message:" text"

[2018-11-12 17:41] TannerJuby1 commented on #2249
@rafaelks we were only testing for iPhone. But we were able to resolve the issue by setting
[code]
in all of the places where navigations away from ChatViewController occurs.

[2018-11-12 20:58] rafaelks commented on #2249
Awesome! I'm gonna close the issue in this case. Thank you! 👍

[2018-11-12 20:58] #2249 closed

[2018-11-13 17:05] filipealva opened #2311 "[BUG][RCVC] Hiding messages from the list"
We are not presenting all the messages from the server sometimes. Screen shots in private

[2018-11-13 19:42] #2302 closed

[2018-11-13 20:40] rafaelvicio opened #2313 "[PROBLEM] Invalid Certificate"
My RocketChat is on a server that does not have a valid international certificate, this is preventing users from using IOS / Android applications.

- Your Rocket.Chat app version: Last IOS/Android
- Your Rocket.Chat server version: 0.70.0

[2018-11-14 10:59] rafaelks commented on #2313
@rafaelvicio You just need a valid SSL certificate. You can get it for free on Let's Encrypt: https://letsencrypt.org.

[2018-11-14 10:59] #2313 closed

[2018-11-14 11:12] RabiChourasiaOgma commented on #2135
hello guys,
I am facing a problem when I upload an image in rocket chat getting an error "'RLMException', reason: 'Object has been deleted or invalidated.'"
I am using this upload code====

    // swiftlint:disable function_body_length
    func uploadToUFSFile(store: String, file: FileUpload, subscription: Subscription, progress: UploadProgressBlock, completion: @escaping UploadCompletionBlock) {

[2018-11-14 11:16] danielddcl commented on #2313
We have the same problem. Our certificate is valid: ICP Brasil, from Certisign. You can see here: https://chat.pf.gov.br

[2018-11-14 11:19] rafaelks commented on #2313
@danielddcl Can you change to something like Let's Encrypt? Look what I get in your server:

![screen shot 2018-11-14 at 09 18 48](https://user-images.githubusercontent.com/551004/48479406-5c34d880-e7ee-11e8-99c7-e33a7ef78432.png)
![screen shot 2018-11-14 at 09 18 43](https://user-images.githubusercontent.com/551004/48479407-5c34d880-e7ee-11e8-99db-8e02ecd3aeb4.png)

[2018-11-14 11:21] rafaelks commented on #2135
@RabiChourasiaOgma What's the version of the app that you are running? This code is not present in production anymore AFAIK. Make sure your server is also updated.

[2018-11-14 11:29] rafaelvicio commented on #2313
At the outset we must use ICP-Brasil certificate. Let's check the possibility of switching to Let's Encrypt.

Accept or allow certificates like ICP-Brasil can become a feature? @rafaelks

[2018-11-14 11:30] rafaelks commented on #2313
@danielddcl Acabei de confirmar que nem o Google Chrome aceita este intermediate. Vocês já tentaram fazer esta configuração? https://support.apple.com/pt-br/HT204477

[2018-11-14 11:31] rafaelvicio commented on #2313
@rafaelks Ja tentei adicionar o certificado manualmente, no IPhone 7 mesmo adicionando ele não reconhece o certificado.

[2018-11-14 11:33] rafaelvicio commented on #2313
Certificado no IOS.

![Certificado IOS](https://image.ibb.co/eq5TVL/43273d30-bb1d-433d-b110-9df22ba0848d.jpg)

[2018-11-14 11:37] rafaelks commented on #2313
@danielddcl @rafaelvicio E vocês chegaram a ver esta nossa documentação? https://rocket.chat/docs/developer-guides/mobile-apps/supporting-ssl/

[2018-11-14 11:37] danielddcl commented on #2313
@rafaelks Conversei com algumas pessoas de infra e obtive algumas informações. O Let's Encrypt acabou proibido aqui na Polícia Federal por dois motivos: parece que existe legislação orientando o uso de certificados ICP Brasil (não tenho certeza disso, vou pesquisar melhor) e o outro motivo foi a desconfiança em relação ao Let's Encrypt por ser uma solução externa (fora do país), não sabemos se é r

[2018-11-14 11:38] danielddcl commented on #2313
@rafaelks Obrigaod, vou tentar essa configuração. Tenho android aqui.

[2018-11-14 11:55] rafaelvicio commented on #2313
@rafaelks E possivel transformar esse problema em uma feature dos aplicativos?
Que o aplicativo aceita conexão de Certificados Invalidos.

[2018-11-14 12:01] rafaelks commented on #2313
@rafaelvicio No Android, pode-se entrar utilizando o protocolo HTTP ao invés de HTTPS. No iOS não suportamos esta funcionalidade na versão da loja, mas é possível fazer um fork da aplicação e suportar certificados inválidos e URLs inseguras. A solução ali em cima não funcionou? Podemos pensar em alguma solução para resolver quando o certificado está instalado no iOS... sabes dizer qual o erro que

[2018-11-14 12:09] rafaelvicio commented on #2313
@rafaelks Estou tentando tornar o certificado reconhecido no IOS, mas sem sucesso ate o momento.

O Erro apresentado no IOS e o seguinte ![IOS](https://image.ibb.co/crEEn0/ios.jpg)

[2018-11-14 12:10] rafaelks commented on #2313
@rafaelvicio Consegue entrar em contato comigo no nosso chat? `open.rocket.chat`, fala comigo lá: `rafael.kellermann`.

[2018-11-14 12:19] rafaelvicio commented on #2313
@rafaelvicio Estou la, mas no aplicativo nao consigo abrir conversar um um ususario. Pode me mandar uma mensagem rafaelvicio

[2018-11-14 12:37] cardoso commented on #2304
Can't reproduce this anymore

[2018-11-14 12:37] #2304 closed

[2018-11-14 15:29] rafaelks commented on #2135
@RabiChourasiaOgma With that information is very hard to help you... what's your setup like?

[2018-11-15 14:02] rafaelks opened #2318 "[NEW] "Rate us in the Store" in Settings screen"

[2018-11-15 14:03] rafaelks opened #2319 "[NEW] "Share the app" in Settings screen"
https://itunes.apple.com/app/rocket-chat/id1148741252?ls=1&mt=8

[2018-11-15 14:07] rafaelks commented on #2248
@VinhNguyenDucThuy Were you able to get the info?

[2018-11-16 02:35] VinhNguyenDucThuy commented on #2248
Thank you so much. I will check out the latest branch and check again.

[2018-11-17 14:55] guillaumerybak opened #2321 "[BUG] OAuth callback URL does not use the 'path' of the server URL"
- Your Rocket.Chat app version: 3.1.1
- Your Rocket.Chat server version: 0.70.4
- Device (or Simulator) you're running with: iPhone X / iPhone XR

Hello, first of all, thanks for you hard work, the app has improved significantly since I've been using it and it became a central part of my day :).

I have a small issue with the OAuth login workflow: my server is configured on a subpath of my domain

[2018-11-19 10:29] rafaelks opened #2322 "[BUG] Avatar is not being reused correctly in 3.2.0 beta"

[2018-11-19 11:20] rafaelks commented on #2275
This one is fixed already.

[2018-11-19 11:20] #2275 closed

[2018-11-19 11:37] rafaelks opened #2323 "[NEW][RCVC] Add a placeholder title to attachments with `fields` but no title"
Add the default title: "No title"

[2018-11-19 11:38] rafaelks opened #2324 "[NEW][RCVC] Failed messages aren't getting the "error" icon"

[2018-11-19 11:46] filipealva opened #2325 "[INVESTIGATE] Main thread blocking when adding up a bunch of new messages"
Investigate performance issues when adding a new page of messages

[2018-11-19 11:50] rafaelks opened #2326 "[NEW] Support changes on Dynamic Type automatically"

[2018-11-19 12:38] rafaelks opened #2328 "[NEW][RCVC] Header of the Conversations"

[2018-11-19 13:01] rafaelks commented on #2321
@guillaumerybak Thanks for pointing out this bug, we'll be fixing it for next release! 👍

[2018-11-19 14:08] cardoso opened #2329 "[BUG][RCVC] App Store alert after reaction makes composer disappear"
Also, when going to a fullscreen image and beginning to dismiss, the composer shows above the black background.

[2018-11-19 16:21] guillaumerybak commented on #2321
Thanks ! :)

[2018-11-19 16:34] dfreddie opened #2331 "Share location"
Rocket.Chat app version: 3.1.1
Rocket.Chat server version: 0.71.1
Running with: IOS 12.1

There are some versions from now it seemed that this option is missing from my iPhone.
It is just me or it was droped?

Thank you!

[2018-11-19 16:35] rafaelks commented on #2331
@dfreddie By Share Location, you mean, sharing your current location from the GPS?

[2018-11-19 16:37] dfreddie commented on #2331
Yes ... like it is on browser version of RC.

[2018-11-19 17:38] #2322 closed

[2018-11-19 22:37] jswedenburg commented on #2323
Is this referring to the title and description of the upload dialog? If so, the title field already has a default title of the file name. Clarification would be nice! Thanks

``if fileName?.text?.isEmpty == false {
                name = fileName?.text ?? file.name
            }``

[2018-11-20 15:34] rafaelks commented on #2323
@jswedenburg No, sorry... this is related to not showing attachments with `fields` properties without title null when collapsed, like this:

![screen shot 2018-11-20 at 13 34 23](https://user-images.githubusercontent.com/551004/48784046-0027f380-ecc9-11e8-8b47-b734db2ac66f.png)

[2018-11-20 20:06] #2321 closed

[2018-11-21 04:05] nuvitu opened #2334 "IOS Rocket.chat 3.1.1 cannot connect to local server"
OS: Ubuntu 18
    Your Rocket.Chat app version: 3.1.1
    Your Rocket.Chat server version: 0.71.1
    Device (or Simulator) you're running with: iPhone 7 plus (iOS 12.1)

When trying to connect to our local server i just get a alert "could not establish the secure connection to the server ios local server"

*****
I used these steps to install server:
1. Install server
https://www.linode.com/docs/a

[2018-11-21 12:24] rafaelks opened #2338 "[BUG] Long names with read receipt are breaking the date field"
![screen shot 2018-11-21 at 10 23 03](https://user-images.githubusercontent.com/551004/48841103-961a5780-ed77-11e8-9f58-6745a06aaddd.png)

[2018-11-21 12:43] rafaelks commented on #2248
@VinhNguyenDucThuy Do you have any feedbacks for this issue?

[2018-11-21 14:19] VinhNguyenDucThuy commented on #2248
I don't have any feedbacks. Please close issue :)

On Wed, Nov 21, 2018 at 7:43 PM Rafael Kellermann Streit <
notifications@github.com> wrote:

--
CONFIDENTIALITY NOTICE: This e-mail, including any attachments, is for the
sole use of the intended recipient(s) and may contain confidential and
privileged information. Any unauthorized review, use, disclosure or
distribution is prohibited. If you are

[2018-11-21 14:45] #2248 closed

[2018-11-21 16:12] #2307 closed

[2018-11-22 01:41] nuvitu commented on #2334
@rafaelks  Your link adapted from Self Signed Certificate with Custom Root CA, same my link on step 2 :)

[2018-11-22 01:55] rafaelks commented on #2129
This issue was solved already. 👍

[2018-11-22 08:09] Sameesunkaria commented on #2334
@nuvitu Hey! I’m curious, did you enable trust for the self signed cert?

Settings > General > About > Certificate Trust Settings

[2018-11-22 09:40] nuvitu commented on #2334
@Sameesunkaria Surely, yes, it is:

Allow Invalid Self-Signed Certs = TRUE
(Allow invalid and self-signed SSL certificate's for link validation and previews.)

[2018-11-22 11:36] rafaelks commented on #2334
@nuvitu This is not what Samar is talking about... you need to install the certificate on your iPhone, and then on your iPhone you need to go to `Settings > General > About > Certificate Trust Settings`.

[2018-11-22 11:44] rafaelks commented on #2318
@artrmz That's right! We can even open the App Store with the review prompt opened: https://stackoverflow.com/a/41857573/1088230.

[2018-11-22 11:57] xereda commented on #2334
@rafaelks @nuvitu
And how to do that?

[2018-11-22 11:59] rafaelks commented on #2334
@xereda @nuvitu After you've installed your self-signed certificate on the iOS device (you can open it directly from your iOS device and install it) you go to:

Then you'll see something like this (with your certificate):

![img_7696](https://user-images.githubusercontent.com/551004/48901643-3d14f700-ee3d-11e8-8443-4b5c3c382a67.jpeg)

Then you just enable it to trust. Close Rocket.Chat and open ag

[2018-11-22 12:06] xereda commented on #2334
@rafaelks There is nothing in my ios.

[2018-11-22 12:08] nuvitu commented on #2334
@rafaelks me too! There is nothing in certificate trust setting (ios 12.1)

[2018-11-22 12:09] xereda commented on #2334
![arquivo 22-11-2018 10 07 28](https://user-images.githubusercontent.com/14337850/48902102-acd7b180-ee3e-11e8-8875-7d49efec775b.jpeg)

[2018-11-22 12:11] Sameesunkaria commented on #2334
@nuvitu @xereda make sure that you are installing the *root certificate* to your device.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-22 12:13] nuvitu commented on #2334
As i wrote,  cer was installed!

[2018-11-22 12:14] xereda commented on #2334
How to do this?

[2018-11-22 16:34] #2323 closed

[2018-11-22 17:44] jogendra commented on #2265
Hi @rafaelks @cardoso Can I take this issue?

[2018-11-22 17:47] rafaelks commented on #2265
@jogendra For sure! :-)

[2018-11-22 18:32] cardoso commented on #2318
Cool! Thanks for the tip guys :)

[2018-11-22 18:48] cardoso opened #2344 "[BUG] Weird wrapping of time in message when username is big"
![](https://i.imgur.com/QrHKjW9.png)

This is on iPhone SE

[2018-11-22 20:09] #2344 closed

[2018-11-22 20:58] filipealva opened #2346 "[RCVC][BUG] Collapsible cells are not responding correctly"

[2018-11-22 21:59] cardoso opened #2347 "[IMPROVEMENT][RCVC] HintsView layout adjustments & user priority"
- Users need to be the last 5 to send messages in the current channel

![](https://i.imgur.com/mU6NwgS.jpg)

- Missing darkened background & rounded corners

![](https://i.imgur.com/gB65jQg.png)

- Align avatars with 'Suggestions' & cell separator with usernames

![](https://i.imgur.com/jObM5Bv.png)

- remove own user from list

[2018-11-22 22:00] rafaelks commented on #2347
@cardoso It should also avoid showing your own username in the first position 😂

[2018-11-22 22:40] #2346 closed

[2018-11-23 01:51] nuvitu commented on #2334
installed but it is in Configuration profiles
![3](https://user-images.githubusercontent.com/19309028/48926036-b7588080-eefc-11e8-9e3b-a3e10345e57a.jpg)

When click in it, it shown that not verified
![2](https://user-images.githubusercontent.com/19309028/48926039-b7f11700-eefc-11e8-8d7d-b8f9adada5ed.jpg)

There is no thing in Certificate Trust Settings
![1 1](https://user-images.githubusercontent.

[2018-11-23 07:43] nuvitu commented on #2334
Hello All,
Thank you all for your help. I understand the problem!

This is the way we create  **Root Certificate**

**openssl req -x509 -new -nodes -key rootCA.key -sha256 -days 1024 -out rootCA.crt**
After that, we must put rootCA.crt into IOS.

I'm wrong when put certificate which was generated using my domain.

But now, after CER was verified, I still got the alert "could not establish the secu

[2018-11-23 15:54] rafaelks commented on #2325
This one was closed by #2348

[2018-11-23 15:54] #2325 closed

[2018-11-23 16:55] #2318 closed

[2018-11-23 16:55] #2319 closed

[2018-11-23 16:59] Shaverdoff opened #2354 "sorting message"
Before writing an issue, please make sure you're talking about the native application (called Rocket.Chat+ in the App Store) and not the Cordova one (called Rocket.Chat in the App Store). If you are looking to open an issue to the Cordova application, go to this URL: https://github.com/RocketChat/Rocket.Chat.Cordova.

- Your Rocket.Chat app version: 311
- Your Rocket.Chat server version: 0.71
- De

[2018-11-23 17:00] filipealva commented on #2311
Couldn't reproduce it anymore.

[2018-11-23 17:00] #2311 closed

[2018-11-23 18:39] #2338 closed

[2018-11-23 19:38] rafaelks opened #2359 "[BUG][RCVC] Composer shows up after opening "LICENSE" from the Settings"
![img_0262](https://user-images.githubusercontent.com/551004/48958503-9452be80-ef46-11e8-992b-ec4a029eca00.jpeg)

[2018-11-23 19:39] rafaelks opened #2360 "[CRASH] Application crashes when viewing the list of members"

[2018-11-23 19:40] rafaelks opened #2361 "[CRASH] Application crashes when viewing the list of Favorites/Pinned"

[2018-11-23 19:40] rafaelks commented on #2354
This is already fixed in 3.2.0, thank you! 👍

[2018-11-23 19:40] #2354 closed

[2018-11-23 19:42] rafaelks opened #2362 "[BUG] Composer doesn't show up when opening DM from User Details popover"
On the iPad:

1. Tap in a user mention;
2. See user information;
3. Tap to message the user;

The composer will be hidden.

[2018-11-23 19:42] Shaverdoff commented on #2354
Rafael, and when 3.2.0 version is appear in appStore?

--
Gerasim Shaverdov | Deputy CTO | Altarix
Mobile: +7 937 070 66 84<tel:+7%20937%20070%2066%2084> | Skype/email : gerasim@altarix.ru<mailto:gerasim@altarix.ru>
Lenina av.25, Samara, Russia, 443068

From: Rafael Kellermann Streit [mailto:notifications@github.com]
Sent: Friday, November 23, 2018 11:40 PM
To: RocketChat/Rocket.Chat.iOS <Rocket.C

[2018-11-23 19:43] rafaelks opened #2363 "[CRASH] Searching a message is crashing the application"

[2018-11-23 19:47] rafaelks opened #2364 "[BUG][RCVC] Long-press & tapping username/avatar is not being handled by cells with attachments"
The methods & gestures aren't being created for these cells.

[2018-11-23 19:49] rafaelks commented on #2110
@cardoso You mean pushed by the navigation stack?

[2018-11-23 19:49] rafaelks commented on #2140
@Sameesunkaria We created all of them manually already, but having this automatically would be super cool!

[2018-11-23 19:51] rafaelks commented on #2354
@Shaverdoff Not yet, it's still under development.

[2018-11-23 19:52] Shaverdoff commented on #2354
;)
In this case, I wish you a speedy successful coding and deployment

Отправлено с iPhone

23 нояб. 2018 г., в 23:51, Rafael Kellermann Streit <notifications@github.com<mailto:notifications@github.com>> написал(а):

@Shaverdoff<https://github.com/Shaverdoff> Not yet, it's still under development.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub

[2018-11-24 02:34] cardoso opened #2365 "[BUG][RCVC] Weird cell placement when changing orientation"
![](https://i.imgur.com/Klofk9g.png)

![](https://i.imgur.com/0XkAe8R.png)

[2018-11-25 08:20] SIMRAN1 commented on #1025
@rafaelks @cardoso I want to work on this issue!

[2018-11-26 02:00] nuvitu commented on #2334
@Sameesunkaria @rafaelks  Do you have any ideal?

[2018-11-26 10:46] nodje commented on #1312
This is also a key feature for our team. People like Rocket so far, bu they really miss the Whatsapp/Wechat way of leaving voice message from mobile iOS and Android.
At this point this becomes a bit of showstopper for the migration to Rocket.

Is there a place to support and checj the feature status? I mean it should be supported globally on al plateforms, not only iOS.

[2018-11-26 11:00] rafaelks commented on #1312
@nodje Yes, our currently plan is to work on this feature January / 2019.

[2018-11-27 13:49] tirthpatelflynn commented on #104
worked for me .. thanks

[2018-11-28 10:36] rafaelks opened #2372 "[NEW] Handle 413 errors on upload for file size limitation"

[2018-11-28 11:03] #2364 closed

[2018-11-28 12:15] cardoso commented on #2362
Closed by https://github.com/RocketChat/Rocket.Chat.iOS/commit/8a7888a9c93aca2eeb4339d4d28d51ce009f091f

[2018-11-28 12:15] #2362 closed

[2018-11-28 16:11] #2360 closed

[2018-11-28 17:26] rafaelks opened #2376 "[IMPROVEMENT] Quoted Attachment improvements"
- Respect system colors (danger, warning & good);
- Collpased false by default;
- "No title" should also be present in sequential attachments

[2018-11-28 17:36] rafaelks opened #2377 "[CHORE] Change composer from inputAccessoryView to normal view"

[2018-11-28 17:37] rafaelks opened #2378 "[BUG] "New Messages" banner is in the wrong position"

[2018-11-28 17:38] rafaelks opened #2379 "[CHORE] Use new cells & components on Mentions, Pinned, Favorited & Search"

[2018-11-29 08:36] #2329 closed

[2018-11-29 21:23] cardoso opened #2383 "[BUG][RCVC] Deleted messages are not removed from the list"
Deleted messages are only removed after closing and opening the chat again.

[2018-11-30 09:54] #2361 closed

[2018-11-30 09:54] #2363 closed

[2018-11-30 11:07] rafaelks opened #2385 "[CRASH] AuthTableViewController.swift line 128 AuthTableViewController.viewDidLoad()"
[code]

[2018-11-30 12:23] rafaelks opened #2386 "[NEW] Support new Permissions API"
Refer to the documentation: https://github.com/RocketChat/docs/pull/1005

[2018-11-30 19:04] cardoso opened #2388 "[BUG] Theming in onboarding"
I saw this after disconnecting and connecting in the server again

![](https://i.imgur.com/kyAuUqZ.png)

[2018-11-30 19:33] cardoso commented on #2388
For me, yes @rafaelks . Only in the screen above. On the screen to input url is fine.

[2018-11-30 19:34] cardoso commented on #2388
Sign up screen is also affected

[2018-11-30 20:50] #2388 closed

[2018-11-30 22:29] #2376 closed

[2018-11-30 23:06] cardoso opened #2392 "[BUG] Not receiving message changes/edits from sockets"
Only happening if it's "lastMessage"

[2018-12-03 12:14] rusty1281 opened #2393 "Channel icons missing in iOS app"
- Your Rocket.Chat app version: 3.1.2 (218)
- Your Rocket.Chat server version: 0.71.1
- Device (or Simulator) you're running with: iPhone 6 (latest iOS version)

Before I continue I have to say that I love the app and we are using 2 separate chat servers with this platform. Also no problem on the web and desktop end, just a small problem on the mobile side.

Now I am reporting this primarly as a i

[2018-12-03 19:12] soundstorm opened #2395 "[BUG] Messages get hidden"
If you swipe right to switch from message list to channel overview while a message is received within this channel.
You then see the message in the unread list, but if you tap on it, the new message is not displayed.
You need to switch between channels to show the message.

[2018-12-03 20:35] rusty1281 commented on #2393
Hello @rafaelks. Here it is
https://imgur.com/a/dz5NxG5

[2018-12-03 20:35] filipealva opened #2396 "[BUG] Color not being applied to text attachments"

[2018-12-03 20:45] #2385 closed

[2018-12-03 20:47] geekgonecrazy commented on #2393
What deployment method are you using?  Happen to have deployed snap on raspberry pi?

[2018-12-03 20:51] rusty1281 commented on #2393
Docker official image

[2018-12-03 22:03] #2396 closed

[2018-12-05 07:07] rusty1281 commented on #2393
Hi there... any info on the matter?

tnx

[2018-12-05 10:51] rafaelks opened #2400 "[BUG] Message cell is not respecting user's full name setting"

[2018-12-05 12:54] #2074 closed

[2018-12-05 13:05] rafaelks commented on #152
Let's close this for now :-)

[2018-12-05 13:05] #152 closed

[2018-12-05 13:06] rafaelks commented on #724
Let's close this issue for now.

[2018-12-05 13:06] #724 closed

[2018-12-05 20:07] #2378 closed

[2018-12-05 20:07] #2347 closed

[2018-12-06 11:54] soundstorm opened #2403 "[BUG] Not all channels shown"
I'm currently in 74 channels and have 26 open conversTions, of which 6 channels + 1 user are in fav list (counting the shown ones on desktop).
All users are shown in the app, but not all channels (64).

[2018-12-06 12:57] rafaelks commented on #2403
@soundstorm Few questions... Are you using 3.2.0? Are you using any filters? Is anything special about those missing channels?

[2018-12-06 12:58] soundstorm opened #2404 "[BUG] Can't exit media fullscreen"
Experiencing this on various devices in different versions:
If you tap on an image, you may either not see the ❌ (so problem already when loading) and swiping doesn't work either - need to force quit. Or the last issue I had was when swiping away only the black boarders disappeared and the image itself stayed there, UI is usable but overlayed by the image.
![GitHawk Upload by soundstorm](https://i

[2018-12-06 13:50] soundstorm commented on #2403
Filters? If I search them, I can see them, but not in the regular list.

I see no real pattern in the missing channels. Some are letters only, others have dashes or start with numbers.
Some of them are created in the past via slack before migration, others in RC. As other channels created in slack show up, thats weird.

But seems like the missing ones are the same.

Examples from mongo:
[code]
[co

[2018-12-06 13:51] soundstorm commented on #2403
Had the issue on App Store and TestFlight versions.

[2018-12-06 14:02] rafaelks commented on #2403
@soundstorm We don't use pagination on the app, it returns everything in one page... do you have custom type of channels?

[2018-12-06 14:10] soundstorm commented on #2403
Nope, nothing special configured...

[2018-12-06 14:49] soundstorm commented on #2403
Also weird: in the sharing plugin all channels show up.

[2018-12-07 09:09] tdihp opened #2407 "[BUG] Whitescreen after successful oauth login"
The app was called Rocket.Chat in AppStore but the newest version of the app matches this app ;)

- Your Rocket.Chat app version: `3.1.2`
- Your Rocket.Chat server version: `rocket.chat:0.69.1`
- Device (or Simulator) you're running with: IPhone SE (IOS 12.1)

After I resolved websocket issues (normal login works perfectly), the custom oauth provider would give a whitescreen after authentication.

[2018-12-07 13:34] cardoso commented on #2407
Generally, we need access to the server to be able to debug this kind of issue, since every OAuth might work in an arbitrarily different way.

Can you speak to me over at https://open.rocket.chat/direct/matheus.cardoso ?

Questions for you:

- Have you or anyone you know tested on our Android client?
- Can you provide me with a test account to your server for debugging purposes?

[2018-12-07 20:03] filipealva opened #2408 "[BUG] MessagesViewController keep in memory after closing chat rooms"

[2018-12-07 20:20] #2328 closed

[2018-12-07 21:06] #2408 closed

[2018-12-07 21:21] #2400 closed

[2018-12-07 22:22] soundstorm opened #2411 "[BUG/IMPROVEMENT] Can't delete message with mention only"
If you have a message with only a mention and no additional characters, you can't (or just hardly) edit/delete/...

[2018-12-09 00:34] rusty1281 opened #2412 "BOT avatar keeps disappearing"
- Your Rocket.Chat app version: 2.14.4
- Your Rocket.Chat server version: 0.71
- Device (or Simulator) you're running with: MacOS (Mojave)

Hello.

Just added a bot and noticed that everytime I add its avatar picture its gone a while later or after a refresh? No other avatar problems for non bot members.

Tnx!

[2018-12-09 13:32] #2412 closed

[2018-12-10 02:14] tdihp commented on #2407
UPDATE: After changing OAuth configuration `Login Style` of Rocket.Chat from `Default` to `Redirect`, we can properly see the client logged in now. Now we think it's the popup behavior webkit client didn't cope well.

We have tested and the Android client also didn't login.

[2018-12-10 10:52] rafaelks commented on #2129
@gagaha It was a bad Nginx configuration, but maybe @gcommit can give you the proper solution, since he was the one that fixed it on his side.

[2018-12-10 11:01] gcommit commented on #2129
@rafaelks, ehm, i did not resolve that o.O

[2018-12-10 11:13] rafaelks commented on #2129
I guess was @serge-petrov then? 🤔

[2018-12-10 20:42] cardoso opened #2417 "[REFACTOR] Better state management for ChatTitleView"
This class deserves a ViewModel & a more centralized & predictable way to update its state

[2018-12-11 16:10] marceloschmidt opened #2418 "[SUPPORT] ios app can't connect to server"
@vozerov commented on [Tue Dec 11 2018](https://github.com/RocketChat/Rocket.Chat/issues/12912)

### Description:

ios mobile app can't connect to server. The message is "Oops, can't connect to server"

### Steps to reproduce:

Try to connect to rc.inmyroom.ru

### Expected behavior:

### Server Setup Information:

Rocket chat is deployed using docker.
Server version is 0.72.2
Ubuntu 16.04
Nginx 1

[2018-12-11 16:21] cardoso commented on #2407
@tdihp thanks for the details. I'm glad you were able to get this to work. I'll pass this problem on to the web team.

[2018-12-11 16:21] #2407 closed

[2018-12-11 20:00] farmio opened #2420 "[BUG] Crash when too many animated Gifs are shown"
- Your Rocket.Chat app version: 3.1.2
- Your Rocket.Chat server version: 0.72.1
- Device (or Simulator) you're running with: iPhone 5s, 7, 8

The app becomes unresponsive and crashes somtimes when messages with too many animated gifs are shown. I have some animated gifs as custom emojis loaded to my server (party parrots).

When someone sends a message containing a lot of them (about 160 - can be

[2018-12-11 22:33] rafaelks commented on #2418
@vozerov Problem is that your WebSocket connection upgrade is timing out the request... for me, this request is taking 47 seconds. Do you know what could be happening?

[2018-12-11 22:58] rafaelks commented on #2420
@farmio Can you please try our TestFlight build with the same thing?
https://testflight.apple.com/join/3gcYeoMr

[2018-12-11 23:16] soundstorm commented on #2403
After restart I now don't see any channels before `c`, sometimes they show up again. I'll see if I can investigate via debugger.

[2018-12-12 00:02] soundstorm commented on #2403
Okay, seems like reinstalling the app did it. Somehow some neccessary updates weren't applied 🤔

[2018-12-12 07:16] farmio commented on #2420
Same issue with TestFlight build 3.2.0 (220).

[2018-12-12 08:08] vozerov commented on #2418
@rafaelks hm.. don't see any errors in neither rocketchat nor mongodb logs. Can you provide the query so i'll try to debug it somehow?

Thanks!

[2018-12-12 15:17] rafaelks commented on #2420
@farmio Crash seems to be related to markdown... could you please post here the message that you're sending so we can make some experiments?

[2018-12-12 15:17] rafaelks commented on #2418
@vozerov I don't think the problem is related to MongoDB, but actually your server setup. I'll invite our @RocketChat/cloud team here, maybe they can help us.

[2018-12-12 15:59] vozerov commented on #2418
@rafaelks thanks!

Just to clarify going to post current configs here:

1. docker info: Server Version: 17.12.0-ce
2. ubuntu: DISTRIB_DESCRIPTION="Ubuntu 16.04.1 LTS"
3. docker-compose: docker-compose version 1.19.0, build 9e633ef
4. docker-compose.yml:
[code]
5. nginx config:
[code]

6. Server's load is ok - LA is about 0.5 with 8 cores.

Thanks!

[2018-12-12 17:26] filipealva opened #2423 "[BUG] Retain cycle on EmojiPickerController"
After picking an emoji `EmojiPickerController` is dismissed but we keep it holding the instance

[2018-12-12 17:44] farmio commented on #2420
It's just `:parrot: :parrot:` repeated several times. With `parrot` being the name of a custom emoji I have uploaded.
The crash doesn't occur on sending, but on viewing the message.

[2018-12-13 09:40] rafaelks opened #2425 "[BUG] Permissions API request is not working correctly"
I noticed on the app usage that my permissions are not syncing properly. Need to investigate if the request is being made correctly and the permissions are being stored in database.

[2018-12-13 13:11] #2425 closed

[2018-12-13 13:14] rafaelks commented on #2365
@cardoso Is this still happening for you? What's the iOS version?

[2018-12-13 14:02] cardoso commented on #2365
@rafaelks still happening on testflight (build 222)

iPhone SE 16GB - iOS 11.4.1 (15G77)

[2018-12-13 22:00] #2359 closed

[2018-12-13 22:20] #2383 closed

[2018-12-14 00:02] soundstorm commented on #2403
Reinstalling was sadly just atemporary fix.

[2018-12-14 12:30] rafaelks commented on #2392
This one was fixed in 3.2

[2018-12-14 12:30] #2392 closed

[2018-12-14 12:30] rafaelks commented on #2365
@cardoso Moving this to our 3.3 release.

[2018-12-17 13:36] rusty1281 commented on #2393
Hi there. New update from today still didn’t fix this problem... just bumping a bit.

thx!

[2018-12-17 18:07] filipealva opened #2434 "[BUG] Mishandling message websocket updates"
An open channel on the iOS client is not reflecting deletions or updates made in other clients

[2018-12-18 19:35] litewhatever commented on #2393
Seeing same issue, deployed via Docker official image.

[2018-12-19 06:57] RabiChourasiaOgma commented on #2135
@rafaelks  now I am upload the image via api "api/v1/chat.postMessage" in the app.... Image is uploaded in the rocketchat but chat room did not refresh(reload) when I try to scroll up then app is crashing... :(
how can I solve this issue?

[2018-12-19 11:08] rafaelks commented on #2135
@RabiChourasiaOgma What's the version of the app that you're running?

[2018-12-19 11:43] RabiChourasiaOgma commented on #2135
how can I check that in my project?

[2018-12-19 11:51] rafaelks commented on #2135
@RabiChourasiaOgma You can go to "Settings" screen and scroll to the bottom.

[2018-12-19 12:32] rafaelks commented on #2135
@RabiChourasiaOgma Version 1.0? I think that's not right... can you send a screenshot of your settings screen?

[2018-12-19 12:47] RabiChourasiaOgma commented on #2135
@rafaelks actually my previous developer our whole project merge into the rocketchat project...that's why info.plist is not returning correct rocket chat version....that is the problem :(

[2018-12-19 12:49] rafaelks commented on #2135
@RabiChourasiaOgma It's important to understand what's the current version to help you tracking down the bugs. If you don't have any experts with you to understand it, I would recommend you to be using our stable version from the App Store: https://itunes.apple.com/us/app/rocket-chat/id1148741252?mt=8

[2018-12-19 12:51] RabiChourasiaOgma commented on #2135
![screen shot 2018-12-19 at 6 19 41 pm](https://user-images.githubusercontent.com/35031111/50221326-c0812400-03ba-11e9-8209-6c457b1a911d.png)
is this correct ??
please see the screenshot

[2018-12-19 12:52] rafaelks commented on #2135
@RabiChourasiaOgma This is not the version of the app... this is the min version of the server that the app is supporting.

[2018-12-19 12:54] RabiChourasiaOgma commented on #2135
Bundle versions string, short : 1.49 is this not correct version?

[2018-12-19 12:55] rafaelks commented on #2135
@RabiChourasiaOgma No. Current app version on the store is 3.2, please check with your developer. Thank you!

[2018-12-19 14:51] codingheld opened #2437 "[BUG] Messages sent with bad network connection are causing the room to stuck in the app"
- Rocket.Chat app version: 3.2.0
- Rocket.Chat server version: 0.72.3
- Device : iPhone X, iOS 12.1

When the user has a bad network connection and is trying to write his first ever message to another user he gets infinite loading animation in this room and the message is not send without any error message.
Later, if there is a good connection the user is not able so send any other message to this

[2018-12-19 16:31] cardoso opened #2438 "[INVESTIGATE] Storage efficiency"
We might have some problems with storage inefficiency

Things to look out for:

- Are we duplicating downloaded files after updating the app and resetting database?
- Are we keeping files longer than needed?
- Are the files being stored temporarily in fact?

[2018-12-20 07:07] rusty1281 commented on #2403
Would like to comment on the same matter. server version 0.71 with the latest ios version for the client.

After some channel search I lose some channels in the main list view. Reset of the client app fixes the problem

[2018-12-20 08:12] codingheld commented on #2437
I did some further investigations. Steps to reproduce:
- Open App (master) in iOS Simulator
- Lower quality of network with "Network Link Conditioner":
![image](https://user-images.githubusercontent.com/6906923/50271904-6faf1100-0436-11e9-8ad6-77795b6fbb11.png)
(trying to simulate bad wifi, broken wifi station, open wifi with captive portal)

- Search for user with no previous messages and send a

[2018-12-20 08:46] guillaumerybak opened #2439 "[INVESTIGATE] Message font size decreased in version 3.2.0"
- Your Rocket.Chat app version: 3.2.0
- Your Rocket.Chat server version: 0.72.3
- Device (or Simulator) you're running with: iPhoneXS Max

Since the last update of the Rocket.Chat iOS app, the font size seems to have decreased and is getting a bit hard to read and does not seem to follow the iOS font size.

[2018-12-20 08:47] guillaumerybak commented on #2439
I can provide a screenshot if you need :).

[2018-12-20 09:24] gagaha commented on #2129
@serge-petrov please let us know how you solved it.

[2018-12-20 11:48] rafaelks commented on #2403
@rusty1281 What are the steps to reproduce? Could you record a video or something of that happening please?

[2018-12-20 11:49] rafaelks commented on #2439
@guillaumerybak Yes, send us a screenshot please!

[2018-12-20 11:57] guillaumerybak commented on #2439
![img_4764](https://user-images.githubusercontent.com/5887099/50283645-cc222880-0456-11e9-88dc-6bcaf7b87010.png)

[2018-12-20 11:58] rafaelks commented on #2439
@guillaumerybak What's your configuration of fonts on iOS for accessibility? Are you using a lower font?

[2018-12-20 12:01] guillaumerybak commented on #2439
I have no accessibility setting enabled, but I have the text size set to minimum my display settings. In the other apps, the font size is roughly the same as the time in the upper left corner in the screenshot.

[2018-12-20 12:08] rafaelks commented on #2439
@guillaumerybak I assume the font size of Rocket.Chat now is very similar to the font-size in Mail application and Settings, right? That's because of your text size is set to minimum.

[2018-12-20 12:58] guillaumerybak commented on #2439
No, the font size in the Rocket.Chat app is smaller to the one in Mail.

[2018-12-20 12:58] guillaumerybak commented on #2439
![img_ef6c3dc96938-1](https://user-images.githubusercontent.com/5887099/50286311-4b1b5f00-045f-11e9-99bf-0de722c96622.jpeg)

[2018-12-20 13:00] guillaumerybak commented on #2439
You can see the 'a' size in the notification mail from GitHub and in the rocket chat screenshot

[2018-12-20 13:04] rafaelks commented on #2439
@guillaumerybak Got it! Will investigate the differences, thank you!

[2018-12-20 13:19] guillaumerybak commented on #2439
If you need to test some settings on my device, don't hesitate :)

[2018-12-20 14:13] vozerov commented on #2418
@rafaelks any updates here? Can't find rocket chat cloud team really :(

[2018-12-20 15:58] cardoso opened #2440 "[BUG] Not sending "typing" event"

[2018-12-20 16:45] #1563 closed

[2018-12-20 21:58] #2289 closed

[2018-12-20 22:48] geekgonecrazy commented on #2418
do you have other LB's in the mix like aws ALB?

[2018-12-20 23:17] #2265 closed

[2018-12-21 11:58] rafaelks commented on #2437
@codingheld Thanks for the investigation! I'm going to add this bug to our next release. 👍

[2018-12-21 12:04] rafaelks commented on #2403
@rusty1281 Thank you, we'll be investigating the issue! 👍

[2018-12-21 13:39] vozerov commented on #2418
@geekgonecrazy nope, nginx only. It's a dedicated server with public ip, so just nginx and rocket chat server behind it.

[2018-12-22 01:17] Justintime50 opened #2444 "[IMPROVEMENT] Send button must be clicked on the actual icon to work"
- Your Rocket.Chat app version: 3.2.0
- Your Rocket.Chat server version: 0.72.3
- Device (or Simulator) you're running with: iPhone Xs

On iOS, you have to select the actual paper airplane icon to send a message (only started happening in the newest version). Essentially the send button became much smaller (functionally) so the user needs to continually smash that button until their finger catches

[2018-12-22 15:45] farmio commented on #2420
Its still the same with 3.3.0 (224) TestFlight version.

Latest Rocket.Chat Experimental iOS (1.7.1.5384) scrolls smoothly over loads of parrots. No more problems here.

[2018-12-22 21:54] farmio commented on #2420
They all seem to be loaded individually since the animations don't start simultaneously.

[2018-12-23 13:53] cardoso opened #2447 "[BUG] Slash commands are not working"
Since 3.2.0

[2018-12-23 18:31] #2026 closed

[2018-12-23 18:32] #2447 closed

[2018-12-23 18:34] rafaelks commented on #2444
@Justintime50 Thanks for the feedback, we'll be increasing the tap area in future releases. 👍

[2018-12-24 03:36] VinhNguyenDucThuy commented on #2248
Today, I use the newest version app IOS. But video still not working :).
![image](https://user-images.githubusercontent.com/27967101/50390239-54f6d800-0767-11e9-8acc-c0dd1c83683e.png)
![image](https://user-images.githubusercontent.com/27967101/50390266-b454e800-0767-11e9-9371-cd0a5aca7448.png)

[2018-12-24 07:31] rafaelks commented on #2248
@VinhNguyenDucThuy I think this may be related to the URLs of your server... could you provide the URL to connect on the server, and the URL of the CDN? Also, what's the upload method you're using?

[2018-12-24 08:56] VinhNguyenDucThuy commented on #2248
I send record video to a friend. Video recode by function in app Roketchat ios :)
Video link: https://ica.hdtex.group/file-upload/Pe8QR8u7ACie6ouoo/4Ot4hGScy2kcz6u80Nrw.mp4?rc_uid=s23Hen62SKh9DuT4D&rc_token=LjoYV5AUXt-LPmtd2YCC2oQDLbDTG83bNK3FvaLfkly

[2018-12-25 06:31] Simon2046 opened #2451 "[INVESTIGATE] iOS app didn't show picture/file/Katex"
- Your Rocket.Chat app version: 3.2.0（223）
- Your Rocket.Chat server version: 0.72.3
- Device (or Simulator) you're running with: iPhoneX and iPhone 7 plus

Server is OK. I can connect with web browser on windows an Mac.,Desktop APP on  Mac.
Also can connect with iOS app.
But on iOS app:
1. Can't show any picture. Even pictures upload by app itself. Pictures can show on web browser and desktop app

[2018-12-25 14:13] vozerov commented on #2418
@geekgonecrazy how do you test it?
`curl -i -N -H "Connection: Upgrade" -H "Upgrade: websocket" -H "Host: rc.inmyroom.ru" -H "Origin: rc.inmyroom.ru" -H "Sec-WebSocket-Key: fVXESE8fjBMx8HheW0YlZQ==" -H "Sec-WebSocket-Version: 13" https://rc.inmyroom.ru/websocket
�{"server_id":"0"}`

this command looks good so far or am I wrong?

Thanks!

[2018-12-25 18:01] geekgonecrazy commented on #2418
Try that same command swapping those out for a known working server like open.rocket.chat.  You’ll see the response is different

[2018-12-25 21:15] vozerov commented on #2418
@geekgonecrazy @rafaelks thanks guys, it was really on my side. The problem was with `ssi on;` option. It was enabled at main config.

I believe we can close this issue now.

[2018-12-26 01:00] geekgonecrazy commented on #2418
Out of curiosity what lead you to determine this?  Would be good info to share with others

[2018-12-26 10:41] arpitjain03 opened #2453 "Getting crash in ChannelActionsViewController"
I am getting crash in following tabs of Actions Screen when there is some data

- Mentions
- Members
- Starred
- Pinned

**Crash reason(same for all):**

Terminating app due to uncaught exception 'RLMException', reason: 'Attempting to modify object outside of a write transaction - call beginWriteTransaction on an RLMRealm instance first.

[2018-12-26 10:49] rafaelks commented on #2453
@arpitjain03 What's the version of your app?

[2018-12-26 10:50] rafaelks commented on #2418
@vozerov @geekgonecrazy Amazing, thanks guys!

[2018-12-26 10:50] #2418 closed

[2018-12-26 10:50] arpitjain03 commented on #2453
Hello @rafaelks

[2018-12-26 10:53] rafaelks commented on #2451
@Simon2046 Katex is not currently supported on the iOS application. But files and uploads are, let me ask you few info:

- Are you using subpaths on your URL?
- Are you using secure assets (`https://` instead of `http://`)?
- What's the upload type that your server is using?

[2018-12-26 11:07] rafaelks commented on #2453
@arpitjain03 From the App Store?

[2018-12-26 11:07] rafaelks commented on #2453
@arpitjain03 Make sure you update it to latest 3.2.0 (223), this crash is already fixed.

[2018-12-26 11:07] #2453 closed

[2018-12-26 11:08] arpitjain03 commented on #2453
Hey, actually I have integrated it in my project, can you tell me what to change?

[2018-12-26 11:53] #2434 closed

[2018-12-26 16:17] vozerov commented on #2418
@geekgonecrazy oh... I don't know - simple troubleshooting :) I've started to check all the options nginx had when you mentioned open.rocket.chat. I saw the difference between answers with websocat tool and started to check all the options. One by one.

default_server, sendfile, tcp_nodelay, timeouts and so on. And when I saw `ssi on;` I realised that it's not commonly used option - so that's why

[2018-12-26 18:26] geekgonecrazy opened #2454 "[BUG] Message actions don’t work when searching"
- Your Rocket.Chat app version: latest(TestFlight)
- Your Rocket.Chat server version: latest(Open)
- Device (or Simulator) you're running with: iPhone XS

When you search long pressing doesn’t bring up message actions.

Useful if searching for info and need to quote it... etc

[2018-12-27 03:25] 10veMars opened #2456 "add function"
- Your Rocket.Chat app version: new version
- Your Rocket.Chat server version:
- Device (or Simulator) you're running with: simulator

###
Are there no voice calls and video chat functions in the project?

[2018-12-27 08:31] Simon2046 commented on #2456
I think it has Video conference function. You can find at MANAGEMENT item.
 I'm not use it yet. I hope someone can tell me the experience of this function.  :-P

[2018-12-27 09:17] rafaelks commented on #2456
@10veMars Currently in development: https://github.com/RocketChat/Rocket.Chat.iOS/pull/2450.

[2018-12-27 09:17] #2456 closed

[2018-12-27 09:17] rafaelks opened #2457 "[IMPROVEMENT] Add `updatedAt` field to request of Permissions, Custom Emojis and Settings"

[2018-12-27 09:19] rafaelks commented on #2451
@Simon2046 Can you please try this solution and see if upload will work again for you? https://github.com/RocketChat/Rocket.Chat.iOS/issues/2184#issuecomment-423517754

[2018-12-28 06:35] Simon2046 commented on #2451
Thanks! It works.

[2018-12-28 10:36] rafaelks commented on #2451
Awesome!

[2018-12-28 10:36] #2451 closed

[2018-12-28 11:39] #2440 closed

[2018-12-28 12:38] rafaelks opened #2459 "[IMPROVEMENT] App is making requests when doesn't need to"
The application is requesting `subscription.read` and `loadHistory` methods when not required.

1. `subscription.read` should only be called when Subscription object properties alert or unread aren't the default ones (false and 0).
2. `loadHistory` is requested when user press "Home" button, that shouldn't happen.

[2018-12-28 13:17] #672 closed

[2018-12-28 13:17] #1076 closed

[2018-12-28 13:17] #1611 closed

[2018-12-28 18:02] rafaelks opened #2462 "[BUG] Failed messages are getting greyed but without ability to re-send it"

[2018-12-29 13:35] soundstorm opened #2463 "[BUG] Different fonts on default profile images"
On regular desktop session they show up the same.
![GitHawk Upload by soundstorm](https://i.imgur.com/yQzFACe.jpg)

[2018-12-29 21:12] coruble opened #2464 "[BUG] Read receipts aren't shown since 3.2.0"
Title should be pretty self-explanatory, since version 3.2.0 (installed from App Store or compiled on Xcode doesn't matter), read receipts aren't shown in chats anymore. Self-hosted Rocket.Chat. Tried to upgrade the server to the latest version and verified settings, but no success. Any idea @rafaelks ? Thanks !

- Rocket.Chat app version : 3.2.0
- Rocket.Chat server version : 0.73.1
- Device : iP

[2018-12-31 10:16] arpitjain03 opened #2465 "[QUESTION] Push notifications not working when click on Send Test Push"
- Rocket.Chat app version: 3.2.0 (223)
- Rocket.Chat server version: 0.72.3  
- Device h: iPhone 7/iOS 12.1

I have done all the setup mentioned in below link.
[https://rocket.chat/docs/administrator-guides/notifications/push-notifications]

But everytime I click on Send a test Push I got error saying
**There are no tokens for this user**

Also I have checked View Logs while logging in to app all

[2019-01-01 10:57] coruble commented on #2463
@soundstorm Same serif font here both on iOS and Android, they appeared tight after I upgraded my server to 0.73.1. Probably not an iOS issue, let's file one on https://github.com/RocketChat/Rocket.Chat/ ?

[2019-01-01 12:17] soundstorm commented on #2463
Ah, okay, maybe on desktop cached.

[2019-01-01 12:17] #2463 closed

[2019-01-01 12:21] soundstorm opened #2466 "[BUG] Showing mixed real name/username"
![GitHawk Upload by soundstorm](https://i.imgur.com/9yjfYYb.jpg)

[2019-01-02 11:07] #1516 closed

[2019-01-02 12:56] #2459 closed

[2019-01-02 12:57] rafaelks commented on #2174
This one is fixed and merged.

[2019-01-02 12:57] #2174 closed

[2019-01-02 14:00] soundstorm opened #2468 "[IMPROVEMENT] Forbidden mention of @all/@here deletes message"
If you mention `@all` or `@here` in a channel with more members than allowed for those mentions, there is just a bot message
`Group mentions @all and @here have been disabled for rooms with more than members.`
The sent message is lost.
Maybe a check of the limit and an alert to force the user to change the message would be helpful. Or an issue on Rocket.Chat to just disable the mention but send th

[2019-01-02 14:04] olcayertas opened #2469 "Missing POD: RocketChatViewController"
When I try to run pod update I am getting this error:
[code]
- Rocket.Chat app version: 3.2.0

[2019-01-02 14:06] rafaelks commented on #2469
@olcayertas This repository isn't public yet; we're planning to make it public very soon. For now, you can avoid running `pod install` since all the dependencies are inside the project.

[2019-01-02 14:08] olcayertas commented on #2469
@rafaelks thank you.

[2019-01-02 14:08] #2469 closed

[2019-01-02 20:50] geekgonecrazy commented on #2418
thanks for sharing that :)  hopefully will be useful to someone else.

[2019-01-03 11:53] CoderJoyWang opened #2471 "[BUG] Same User Infomation In Chat Page."
- Your Rocket.Chat app version: 3.3.0(234)
- Your Rocket.Chat server version: 0.73.0
- Device (or Simulator) you're running with: iPhone X (iOS12.1)

在搜索用户和聊天室时，调用接口“/api/v1/spotlight”返回的用户列表和聊天室列表，用户列表中没有聊天记录的用户并没有返回rid字段，但是也被存入了本地数据库中并且rid字段为空string。当点击没有聊天记录的用户进入聊天页面时，聊天页面是通过用户rid在本地数据库中查找用户信息的，由于rid为空，所以查询到的数据是数据库中第一个rid为空的用户信息。造成只要点击没有聊天记录的用户都是同一个用户的bug。

When searching for users and chat roo

[2019-01-04 01:50] piepie314 opened #2472 "MessagesViewController stays in status of loading"
- Your Rocket.Chat app version: 3.30
- Your Rocket.Chat server version: 0.72
- Device (or Simulator) you're running with: iPhone 8 ios 12

when i am trying to contact someone who never chat before, the messages view would stay in status of loading... and it never disappears
![1](https://user-images.githubusercontent.com/608177/50670379-1cc48480-1006-11e9-8399-cda019aa8f8c.jpeg)

[2019-01-04 12:50] GoetheG commented on #964
Can anybody explain to me what's encrypted in Rocket.Chat and what's not?

[2019-01-04 12:56] GoetheG opened #2473 "[QUESTION] What is encrypted and what is not in this app?"
Hi there,

I am a non-coder and I subscribed for a Rocket.Chat service from a German provider. We chose Rocket.Chat as a secure solution for internal communication. Unfortunately, I do not understand what's encrypted in this app and what is not. How secure is it? I honestly don't know. And what part of my communication can be read by thee provider? Is there a zero-knowledge-solution?

Due to the f

[2019-01-04 13:06] rafaelks commented on #2473
@GoetheG Thanks for the question. Is your question specific to the iOS application? Because the iOS app doesn't have end-to-end encryption support yet, so the only encrypted message that we have in the app right now is the SSL (required) in every network request the app makes, including the WebSocket communication.

[2019-01-04 13:06] rafaelks commented on #2472
@piepie314 Are you running the app from App Store, or your own fork?

[2019-01-04 13:38] rafaelks opened #2474 "[CHORE] Merge "actionTintColor" and "tintColor" in Themes"

[2019-01-04 13:49] rafaelks commented on #2468
@soundstorm Thanks for opening the issue! I like the idea of removing the "mention" alerts, but still sending the message... do you mind moving this issue to our core repo so we can discuss the implementation of this change?

[2019-01-05 05:53] piepie314 commented on #2472
both.... @rafaelks

[2019-01-06 06:19] CoderJoyWang commented on #2472
![image](https://user-images.githubusercontent.com/29444541/50732846-9ce11a80-11bd-11e9-8e84-24657e9c78f3.png)

 i thought that in file SubscriptionsClient.swift line 265 (completion(lastMessageDate) ) would cause this issue.... if i made a condition that if messages.count < 30 { lastMessageDate = nil}, it works

[2019-01-06 09:56] CoderJoyWang opened #2475 "[BUG] Wrong chat massage when add and remove user."
When I add a user in the chat room, I will receive the au message and the MessagesViewController will display correctly. But when I removed this user, I received the ru message, but the location of the display was wrong.
![Uploading 屏幕快照 2019-01-06 下午5.52.23.png…]()

[2019-01-07 09:13] CoderJoyWang opened #2476 "[BUG]Display error when hide group"
- Your Rocket.Chat app version: 3.3.0
- Your Rocket.Chat server version: 0.73.0
- Device (or Simulator) you're running with: iPhone X (iOS 12.1)

1、I am in the group "General".
2、I hide the group "General".
3、I search the group "Genaral" and enter it.
4、The status is waiting to join channel.but I already in group "Genaral".

May be this can help you:

When I hide group , `hideSubscription`has call

[2019-01-07 09:53] rafaelks opened #2477 "[IMPROVEMENT] Editing "URL" field in Connect screen moves cursor to the end"

[2019-01-07 11:30] rafaelks commented on #2465
@arpitjain03

1. Are you using our gateway?
2. Are you using the app from the App Store?

[2019-01-07 11:49] rafaelks commented on #2439
@guillaumerybak Issue is fixed, will be present in our next TestFlight build, if you want to join you can find the link on the readme of the repo, thanks!

[2019-01-07 12:16] #2439 closed

[2019-01-07 12:54] arpitjain03 commented on #2465
No I am not using your gateway I am using my server

[2019-01-07 12:58] rafaelks commented on #2465
@arpitjain03 If you're not using our gateway to send pushes, you need to have your own application for iOS (fork) because of the keys to send pushes. Make sure you've your setup correct and try again, please. In the meantime, I'm closing the issue.

[2019-01-07 12:58] #2465 closed

[2019-01-07 13:00] arpitjain03 commented on #2465
I have my application as well I have tried with both. Also, I have added proper Certificate and Private Key. Finding no push notification coming out while mentioning users or by sending a test push

[2019-01-07 13:09] arpitjain03 opened #2480 "Push notifications not working with Rocket Chat in my application"
Rocket.Chat app version: 3.2.0 (223)
Rocket.Chat server version: 0.72.3
Device h: iPhone 7/iOS 12.1

I have successfully implemented Rocket Chat in my application by using the Rocket Chat iOS repository classes.

I have done all the setup mentioned in below link.
[https://rocket.chat/docs/administrator-guides/notifications/push-notifications]

But every time I click on Send a test Push I got an er

[2019-01-07 13:14] rafaelks commented on #2480
@arpitjain03 Please don't duplicate your own issue #2465, let's continue the discussion over there so we can help you.

[2019-01-07 13:14] #2480 closed

[2019-01-07 13:14] rafaelks commented on #2465
@arpitjain03 Something in your setup is missing... are tokens being registered on the server? Is the app making the requests? What's the branch you're using in your fork?

[2019-01-07 13:16] arpitjain03 commented on #2465
Yes, tokens are being registered on the server. The same I have shared log I have shared above. Yes the app is making proper requests as I have achieved everything in the chat, the only point is with Push notification.

[2019-01-07 13:17] rafaelks commented on #2465
@arpitjain03 Is your server sending the notification to Apple using your keys? Are you using production release or debug?

[2019-01-07 13:22] arpitjain03 commented on #2465
I am using debug release.

[2019-01-07 13:33] rafaelks commented on #2465
Looks like something is wrong in your back-end setup.

[2019-01-07 13:40] arpitjain03 commented on #2465
Is there anything specific related with Push notification needed to be done while server setup, as i am able to send and receive messages from server properly

[2019-01-07 14:02] #2200 closed

[2019-01-07 15:53] soundstorm opened #2481 "[BUG] Uploading multiple attachments with one bar"
I was uploading two attachments, but there was only one bar shown with jumping progress bars. When the first upload was done the bar disappeared. A bit later the second upload showed up in chat.
https://youtu.be/txDU9ghv6b4

[2019-01-07 16:02] guillaumerybak commented on #2439
Nice ! Thanks for the hard work 👍. I'll join the testflight then :)

[2019-01-08 13:30] GoetheG commented on #2473
Hi @rafaelks. I am using iOS too. but this was a general question. I'd like to understand how secure Rocket.Chat really is. What's the difference between Slack and Rocket.Chat regarding security? Slack can read the conversations, that's for sure. But if the chat is not encrypted in Rocket.Chat, then the Rocket.Chat hoster can read the messages as well. So what's the difference?

It would be nice i

[2019-01-08 15:52] coruble commented on #2200
Thank you for this fix @rafaelks our users were going crazy ! Already merged in my fork, works like a charm (after a first unsuccessful try, for some reason..)

[2019-01-08 15:54] rafaelks commented on #2200
@coruble Amazing, great to know! 👊

[2019-01-09 12:58] rafaelks commented on #2473
@GoetheG Thanks for the suggestion! We're going to pass your idea to the website team so they can add it to their roadmap, I think it's a great idea to have a page or docs explaining the security of our clients.

As I said before, the only security layer that we have right now on the iOS and Android application is the SSL network layer. The database isn't encrypted because we don't support E2E on

[2019-01-09 12:58] #2473 closed

[2019-01-09 21:03] farmio commented on #2248
I too have problems with mp4 videos.
RocketChat iOs 3.3.0 (233) - AppStore Version had the same problem
Server Version 0.73.1 - GridFS for uploaded files

When I try to play a video uploaded by someone else the app crashes.
I have downloaded the video on desktop and uploaded in another channel. This self-uploaded video plays - but lags with about 2 fps. This happens to other self-uploaded .mp4 vid

[2019-01-10 10:36] coruble commented on #2464
Hey Rocket.Chat team, just to bump this issue : is there supposed to be support for read receipts in this version ? I don't understand why they vanished. Anything I can do to help ? Thanks !

[2019-01-10 10:51] rafaelks commented on #2464
@coruble Yes, it was suppose to be working, but I'm going to investigate your report and if there's actually a bug we'll be sending a fix for that on next release. 👍

[2019-01-10 13:38] CoderJoyWang opened #2484 "[BUG]User online state error."
- Your Rocket.Chat app version: 3.2.0
- Your Rocket.Chat server version: 0.73.2
- Device (or Simulator) you're running with: iPhone XR (iOS 12.1)

When my RocketChat enters the background mode, my online state is offline on others client. I can still receive the messages at this time. I think the online state display is wrong.

[2019-01-10 15:38] danielslyman commented on #2208
+1
I really need this without logging out and in again

[2019-01-10 15:40] rafaelks commented on #2208
To update you guys on this thread: we recently shipped an API that will allow the mobile apps to support this. In near future you'll see this change in the mobile apps, please keep an eye on this issue. Thanks!

[2019-01-10 19:12] S0U1SB4N3 opened #2486 "Build and simulator works no errors.Click archive and errors out"
- Your Rocket.Chat app version: 3.3.0
- Your Rocket.Chat server version: ####
- Device (or Simulator) you're running with: iOS

I can build the project and load to the native simulator on MacBook Pro in Xcode 10
I can test the build on directly connected devices successfully, however when I need to click archive to upload to App Store it errors out as shown below

<img width="456" alt="screen shot

[2019-01-11 11:40] coruble commented on #2486
Hi @S0U1SB4N3, the error output points to DifferenceKit, did you properly `pod install` and / or `pod update` ? Also, you say you're trying to compile 3.3.0, which is in development and unreleased. If you want to compile and run something stable, maybe you should work on the 3.2.0 source code

[2019-01-11 11:42] rafaelks commented on #2486
@S0U1SB4N3 This is a bug in CocoaPods (they still didn't ship the fix), because we've a reference for DifferenceKit in two places... in order to fix that, you'll need to change your **Workspace Settings** to use the Legacy Build System, like the screenshot. That needs to be done only for Archiving.

![screen shot 2019-01-11 at 09 41 48](https://user-images.githubusercontent.com/551004/51031882-2a8

[2019-01-11 11:42] #2486 closed

[2019-01-11 11:44] coruble commented on #2484
Hi @CoderJoyWang, the Rocket.Chat team might correct me if I'm wrong but based on my experience this is the expected behavior. "Online" means "active", if the app enters background, you're not active at the moment. As soon as you receive a message and open the app, you're back to active.

[2019-01-11 12:18] farmio opened #2487 "[BUG] Crash when trying to open video."
- Your Rocket.Chat app version: 3.2.0; 3.3.0
- Your Rocket.Chat server version: 0.73.2
- Device (or Simulator) you're running with: ipone 7, 8, Simulator

👋  I have found a bug causing the iOS App to crash.
It happens when I try to open a .mp4 file uploaded from the Android app to my 🚀 server on Docker (GridFS for Uploads). Preview image with play button is shown normally.

I can reproduce this in

[2019-01-11 18:40] S0U1SB4N3 commented on #2486
yes with error stating there are two Differencekit.Framework trying to be written. Differencekit and difference kit-core

Im in legacy as well and still errors

I will try again in a few hours

[2019-01-12 08:16] steve7688 commented on #2484
I found this problem too.

[2019-01-12 08:19] steve7688 commented on #2454
you can try var text = "/" + searchBar.text + "/"

then send text to the server

[2019-01-13 14:22] rusty1281 commented on #2393
Just bummping this matter a bit? Is there any chance that this might get fixed in an upcoming version 0.73? Or is this an iOS problem?

[2019-01-13 18:05] promehul commented on #1279
Assign it to me and I will start working on it ASAP!!

[2019-01-13 18:16] yugantarjain opened #2488 "[BUG] Navigation bar absent in 'RegisterUsernameTableViewController'."
- Rocket.Chat app version: 3.3.0  (Both- Device and Simulator)
- Rocket.Chat server version: 0.73.2  (Both- Device and Simulator)
- Device (and Simulator) used : iPhone 7, iOS 12.1.2  (Both- Device and Simulator)

Steps to reproduce-
1. Open application for first time.
2. Tap on 'Join the Community' in 'Welcome View Controller'.
3. Continue with Github (or any other method)
4. Enter correct creden

[2019-01-14 03:50] steve7688 opened #2489 "Any documents?"
- Your Rocket.Chat app version: ####
- Your Rocket.Chat server version: ####
- Device (or Simulator) you're running with: ####

**The app isn't connecting to your server?**
Make sure your server supports WebSocket. These are the minimum requirements for Apache 2.4 and Nginx 1.3 or greater.

[2019-01-14 03:51] steve7688 commented on #2489
for example

the data structure of the realm?

[2019-01-14 08:53] steve7688 opened #2490 "How to modify the composerView"
- Your Rocket.Chat app version: ####
- Your Rocket.Chat server version: ####
- Device (or Simulator) you're running with: ####

**The app isn't connecting to your server?**
Make sure your server supports WebSocket. These are the minimum requirements for Apache 2.4 and Nginx 1.3 or greater.

[2019-01-14 10:49] CoderJoyWang opened #2491 "[BUG] Users list is wrong when I search users."
- Your Rocket.Chat app version: 3.2.0(223)
- Your Rocket.Chat server version: 0.73.2
- Device (or Simulator) you're running with: iPhone XR (iOS 12.1)

Users list is wrong when I search users.
Maybe DifferenceKit method update tableView error.
I found  `elementDeleted` and `elementUpdated` method updated datasource not correctly.

![wechatimg27](https://user-images.githubusercontent.com/29444541/5

[2019-01-14 10:57] CoderJoyWang opened #2492 "[BUG]ChatViewController layout wrong when I slide viewcontroller a little to the right and release finger"
- Your Rocket.Chat app version: 3.2.0
- Your Rocket.Chat server version: 0.73.2
- Device (or Simulator) you're running with: iPhone 8 (iOS 12.1)

MessageViewController layout wrong when I slide a little to the right and release finger.

![wechatimg17](https://user-images.githubusercontent.com/29444541/51108756-216f1100-182e-11e9-89ea-f03fc69d4cfb.jpeg)
![wechatimg15](https://user-images.githubuser

[2019-01-14 11:30] rafaelks commented on #2491
@CoderJoyWang What's wrong about the list? Could you explain?

[2019-01-14 11:32] rafaelks commented on #2487
@farmio Thanks for opening the issue! Could you upload this video to me (rafael.kellermann) in our Community server (open.rocket.chat)?

[2019-01-14 11:34] rafaelks commented on #2393
@rusty1281 This is not an iOS client problem; this is a back-end problem... let me move this issue to our core repository.

[2019-01-14 11:34] rafaelks commented on #2393
@rusty1281 Is your server missing some font?

[2019-01-14 11:35] rafaelks commented on #2129
@Fabster79 Can you describe better your problem? You can't see S3 image uploads on the app?

[2019-01-14 11:38] CoderJoyWang commented on #2491
hi...we could notice that i inputed letters "l"and"v", the result of the list contains "11122211212","18new", i thought these results should not be correct...

[2019-01-14 11:39] rafaelks commented on #2491
@CoderJoyWang Search also looks for the user's name and email... aren't any of these fields related to this user?

[2019-01-14 11:48] CoderJoyWang commented on #2491
hi, i have tested on my server.... i 've got the same problem...

[2019-01-14 11:53] CoderJoyWang commented on #2491
<img width="964" alt="2019-01-14 7 50 21" src="https://user-images.githubusercontent.com/29444541/51111063-a578c700-1835-11e9-9c3d-3c4d3bcbc914.png">
i thought that this method `let changes = StagedChangeset(source: oldValue, target: newValue)` may cause the error

[2019-01-14 14:13] Fabster79 commented on #2129
Yeah, the images are blank on my iphone, but i can see them on web.

Iphone app:
![image](https://user-images.githubusercontent.com/29672511/51117765-fde89e00-180e-11e9-9c68-492b61303cfb.png)

web
![image](https://user-images.githubusercontent.com/29672511/51117686-caa60f00-180e-11e9-863f-723d0390903f.png)

[2019-01-15 06:33] CoderJoyWang commented on #2491
I did found  that this method `let changes = StagedChangeset(source: oldValue, target: newValue)`  cause the error. This method  callback a wrong instance `changes` sometimes... And I fix it with reload tableview datasource .  I think that you can fix it better.

<img width="807" alt="2019-01-15 2 29 45" src="https://user-images.githubusercontent.com/29444541/51162803-7ebc9e00-18d2-11e9-8f0a-96189

[2019-01-15 12:09] gagaha commented on #2129
I noticed that it is possible to view the images if you touch the name of the chat-room and go to "Files".
"Proxy uploads" have to be disabled in the S3 settings of the Rocket.Chat server in order to view the images there.
But you will still not be be able to view the images in the chat history.

@rafaelks could you have a look at this for us? Thanks!

[2019-01-15 16:07] #2477 closed

[2019-01-16 02:37] steve7688 opened #2495 "Rocket.Chat.iOS/Rocket.Chat/Controllers/Subscriptions/NewRoomViewController.swift"
- Your Rocket.Chat app version: ####
- Your Rocket.Chat server version: ####
- Device (or Simulator) you're running with: ####

**The app isn't connecting to your server?**
Make sure your server supports WebSocket. These are the minimum requirements for Apache 2.4 and Nginx 1.3 or greater.